#andradebru {
    position: relative;
    height: 150px;
    width: 150px;
    background: linear-gradient(5deg, #ba2323, #ff1717);
    border-radius: 50% 50% 0 50%;
    transform: rotate(45deg);
}

#andradebru:after {
    position: absolute;
    box-sizing: border-box;
    content: "";
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: white;
    margin-left: 40px;
    margin-top: 40px;
}
