#AraozYazmin {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 20px 0;
  background-image: radial-gradient(gold 25%, DarkGoldenrod 25%, Goldenrod);
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: 0.1em;
}
#AraozYazmin:after {
  content: "";
  position: absolute;
  top: 30%;
  bottom: 60%;
  right: -5%;
  left: -5%;
  background: green;
  border-radius: 20% / 20%;
}
#AraozYazmin:before {
  content: "";
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: -5%;
  left: -5%;
  background: SaddleBrown;
  border-radius: 30% / 30%;
}
