#azel-smilingface {
  position: relative;
  background-color: #ffc83d;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  border: 5px solid #ff8d0d;
}

#azel-smilingface::before {
  content: " ";
  position: absolute;
  z-index: 1;
  background-color: #ffc83d;
  width: 46px;
  height: 20px;
  top: 70px;
  left: 36px;
  border-radius: 50%;
  box-shadow: #ffc83d 80px 0px 0px 0px, #654307 80px -11px 0px 0px,
    #654307 0px -11px 0px 0px, #ff8d0d -15px 36px 22px 5px,
    #ff8d0d 105px 36px 22px 5px;
}

#azel-smilingface::after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 50px;
  right: 68px;
  bottom: 28px;
  border: 8px solid #654307;
  border-radius: 30%;
  border-bottom-left-radius: 40px;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
}

#azel-hamtaro {
  position: relative;
  top: -20px;
  left: -5px;
  background-color: #000;
  height: 5px;
  width: 5px;
  webkit-animation: azel-hamtaro 4s;
  -moz-animation: azel-hamtaro 4s;
  -ms-animation: azel-hamtaro 4s;
  -o-animation: azel-hamtaro 4s;
  animation: azel-hamtaro 4s infinite;
}

@keyframes azel-hamtaro {
  0% {
    box-shadow: #000 5px 0px 0px 0px, #000 10px 0px 0px 0px,
      #000 15px 0px 0px 0px, #000 60px 0px 0px 0px, #000 65px 0px 0px 0px,
      #000 70px 0px 0px 0px, #000 75px 0px 0px 0px, #000 -5px 5px 0px 0px,
      #fd7a41 0px 5px 0px 0px, #fd7a41 5px 5px 0px 0px, #fd7a41 10px 5px 0px 0px,
      #fd7a41 15px 5px 0px 0px, #000 20px 5px 0px 0px, #000 55px 5px 0px 0px,
      #fd7a41 60px 5px 0px 0px, #fd7a41 65px 5px 0px 0px,
      #fd7a41 70px 5px 0px 0px, #fd7a41 75px 5px 0px 0px, #000 80px 5px 0px 0px,
      #000 -10px 10px 0px 0px, #fd7a41 -5px 10px 0px 0px,
      #fd7a41 0px 10px 0px 0px, #fd7a41 5px 10px 0px 0px,
      #fd7a41 10px 10px 0px 0px, #fd7a41 15px 10px 0px 0px,
      #fd7a41 20px 10px 0px 0px, #000 25px 10px 0px 0px, #000 50px 10px 0px 0px,
      #fd7a41 55px 10px 0px 0px, #fd7a41 55px 10px 0px 0px,
      #fd7a41 60px 10px 0px 0px, #fd7a41 65px 10px 0px 0px,
      #fd7a41 70px 10px 0px 0px, #fd7a41 75px 10px 0px 0px,
      #fd7a41 80px 10px 0px 0px, #000 85px 10px 0px 0px, #000 -15px 15px 0px 0px,
      #fd7a41 -10px 15px 0px 0px, #000 -5px 15px 0px 0px, #000 0px 15px 0px 0px,
      #fd7a41 5px 15px 0px 0px, #fd7a41 10px 15px 0px 0px,
      #fd7a41 15px 15px 0px 0px, #fd7a41 20px 15px 0px 0px,
      #000 25px 15px 0px 0px, #000 30px 15px 0px 0px, #000 35px 15px 0px 0px,
      #000 40px 15px 0px 0px, #000 45px 15px 0px 0px, #000 50px 15px 0px 0px,
      #000 55px 15px 0px 0px, #fd7a41 60px 15px 0px 0px,
      #fd7a41 65px 15px 0px 0px, #fd7a41 70px 15px 0px 0px,
      #fd7a41 75px 15px 0px 0px, #000 80px 15px 0px 0px,
      #fd7a41 85px 15px 0px 0px, #000 90px 15px 0px 0px, #000 -15px 20px 0px 0px,
      #000 5px 20px 0px 0px, #fd7a41 10px 20px 0px 0px,
      #fd7a41 15px 20px 0px 0px, #fd7a41 20px 20px 0px 0px,
      #fd7a41 25px 20px 0px 0px, #fd7a41 30px 20px 0px 0px,
      #fd7a41 35px 20px 0px 0px, #fd7a41 40px 20px 0px 0px,
      #fd7a41 45px 20px 0px 0px, #fd7a41 50px 20px 0px 0px,
      #fd7a41 55px 20px 0px 0px, #fd7a41 60px 20px 0px 0px,
      #fd7a41 65px 20px 0px 0px, #fd7a41 70px 20px 0px 0px,
      #000 75px 20px 0px 0px, #fd7a41 85px 20px 0px 0px, #000 90px 20px 0px 0px,
      #000 -15px 25px 0px 0px, #000 5px 25px 0px 0px, #fd7a41 10px 25px 0px 0px,
      #fd7a41 15px 25px 0px 0px, #fd7a41 20px 25px 0px 0px,
      #fd7a41 25px 25px 0px 0px, #fd7a41 30px 25px 0px 0px,
      #fd7a41 35px 25px 0px 0px, #fd7a41 40px 25px 0px 0px,
      #fd7a41 45px 25px 0px 0px, #fd7a41 50px 25px 0px 0px,
      #fd7a41 55px 25px 0px 0px, #fd7a41 60px 25px 0px 0px,
      #fd7a41 65px 25px 0px 0px, #fd7a41 70px 25px 0px 0px,
      #000 75px 25px 0px 0px, #fd7a41 85px 25px 0px 0px, #000 90px 25px 0px 0px,
      #000 -15px 30px 0px 0px, #fd7a41 -10px 30px 0px 0px,
      #fd7a41 0px 30px 0px 0px, #fd7a41 30px 30px 0px 0px,
      #fd7a41 35px 30px 0px 0px, #fd7a41 40px 30px 0px 0px,
      #fd7a41 45px 30px 0px 0px, #fd7a41 50px 30px 0px 0px,
      #fd7a41 55px 30px 0px 0px, #fd7a41 60px 30px 0px 0px,
      #fd7a41 65px 30px 0px 0px, #fd7a41 70px 30px 0px 0px,
      #fd7a41 75px 30px 0px 0px, #000 80px 30px 0px 0px,
      #fd7a41 85px 30px 0px 0px, #000 90px 30px 0px 0px, #000 -10px 35px 0px 0px,
      #000 -5px 35px 0px 0px, #fd7a41 45px 35px 0px 0px,
      #fd7a41 50px 35px 0px 0px, #fd7a41 55px 35px 0px 0px,
      #fd7a41 60px 35px 0px 0px, #000 65px 35px 0px 0px,
      #fd7a41 70px 35px 0px 0px, #fd7a41 75px 35px 0px 0px,
      #000 80px 35px 0px 0px, #000 85px 35px 0px 0px, #000 -5px 40px 0px 0px,
      #000 15px 40px 0px 0px, #000 20px 40px 0px 0px, #000 25px 40px 0px 0px,
      #fd7a41 55px 40px 0px 0px, #fd7a41 60px 40px 0px 0px,
      #000 65px 40px 0px 0px, #000 70px 40px 0px 0px, #000 75px 40px 0px 0px,
      #000 85px 40px 0px 0px, #000 -5px 45px 0px 0px, #000 10px 45px 0px 0px,
      #000 15px 45px 0px 0px, #fff 20px 45px 0px 0px, #fff 25px 45px 0px 0px,
      #000 30px 45px 0px 0px, #000 60px 45px 0px 0px, #000 75px 45px 0px 0px,
      #000 80px 45px 0px 0px, #000 85px 45px 0px 0px, #000 -5px 50px 0px 0px,
      #000 10px 50px 0px 0px, #000 15px 50px 0px 0px, #fff 25px 50px 0px 0px,
      #000 30px 50px 0px 0px, #000 60px 50px 0px 0px, #000 75px 50px 0px 0px,
      #000 80px 50px 0px 0px, #fd7a41 85px 50px 0px 0px, #000 90px 50px 0px 0px,
      #000 -10px 55px 0px 0px, #000 10px 55px 0px 0px, #000 15px 55px 0px 0px,
      #000 20px 55px 0px 0px, #000 25px 55px 0px 0px, #000 30px 55px 0px 0px,
      #000 60px 55px 0px 0px, #000 65px 55px 0px 0px, #000 70px 55px 0px 0px,
      #000 75px 55px 0px 0px, #000 80px 55px 0px 0px, #000 90px 55px 0px 0px,
      #000 -15px 60px 0px 0px, #000 -10px 60px 0px 0px, #000 -5px 60px 0px 0px,
      #000 0px 60px 0px 0px, #fd7a41 5px 60px 0px 0px, #000 15px 60px 0px 0px,
      #000 20px 60px 0px 0px, #000 25px 60px 0px 0px, #fff 30px 60px 0px 0px,
      #fd7a41 45px 60px 0px 0px, #000 50px 60px 0px 0px, #000 65px 60px 0px 0px,
      #000 70px 60px 0px 0px, #000 75px 60px 0px 0px, #fd7a41 85px 60px 0px 0px,
      #000 90px 60px 0px 0px, #000 95px 60px 0px 0px, #000 100px 60px 0px 0px,
      #000 -10px 65px 0px 0px, #fd7a41 -5px 65px 0px 0px, #000 90px 65px 0px 0px,
      #000 -10px 70px 0px 0px, #000 -5px 70px 0px 0px, #000 0px 70px 0px 0px,
      #fd7a41 5px 70px 0px 0px, #fd7a41 80px 70px 0px 0px,
      #000 85px 70px 0px 0px, #000 90px 70px 0px 0px, #000 95px 70px 0px 0px,
      #000 -15px 75px 0px 0px, #000 -10px 75px 0px 0px, #000 35px 75px 0px 0px,
      #000 50px 75px 0px 0px, #000 65px 75px 0px 0px, #fd7a41 85px 75px 0px 0px,
      #000 90px 75px 0px 0px, #000 -10px 80px 0px 0px, #fd7a41 -5px 80px 0px 0px,
      #fd7a41 0px 80px 0px 0px, #000 40px 80px 0px 0px, #000 45px 80px 0px 0px,
      #000 55px 80px 0px 0px, #000 60px 80px 0px 0px, #000 85px 80px 0px 0px,
      #000 -10px 85px 0px 0px, #fd7a41 -5px 85px 0px 0px,
      #fd7a41 0px 85px 0px 0px, #fd7a41 5px 85px 0px 0px,
      #fd7a41 10px 85px 0px 0px, #000 80px 85px 0px 0px, #000 85px 85px 0px 0px,
      #000 -15px 90px 0px 0px, #000 -10px 90px 0px 0px,
      #fd7a41 -5px 90px 0px 0px, #fd7a41 0px 90px 0px 0px,
      #000 25px 90px 0px 0px, #000 65px 90px 0px 0px, #fd7a41 80px 90px 0px 0px,
      #000 85px 90px 0px 0px, #000 -20px 95px 0px 0px,
      #fd7a41 -15px 95px 0px 0px, #000 -10px 95px 0px 0px,
      #fd7a41 -5px 95px 0px 0px, #fd7a41 20px 95px 0px 0px,
      #000 30px 95px 0px 0px, #000 60px 95px 0px 0px, #000 85px 95px 0px 0px,
      #000 -15px 100px 0px 0px, #000 -10px 100px 0px 0px,
      #000 15px 100px 0px 0px, #fd7a41 20px 100px 0px 0px,
      #fd7a41 25px 100px 0px 0px, #000 30px 100px 0px 0px,
      #000 60px 100px 0px 0px, #000 75px 100px 0px 0px, #000 85px 100px 0px 0px,
      #000 -10px 105px 0px 0px, #000 -5px 105px 0px 0px, #000 20px 105px 0px 0px,
      #000 25px 105px 0px 0px, #000 65px 105px 0px 0px, #000 70px 105px 0px 0px,
      #000 80px 105px 0px 0px, #000 -5px 110px 0px 0px, #000 0px 110px 0px 0px,
      #fd7a41 5px 110px 0px 0px, #000 10px 110px 0px 0px,
      #fd7a41 25px 110px 0px 0px, #fd7a41 30px 110px 0px 0px,
      #fd7a41 35px 110px 0px 0px, #fd7a41 40px 110px 0px 0px,
      #fd7a41 45px 110px 0px 0px, #fd7a41 70px 110px 0px 0px,
      #000 75px 110px 0px 0px, #000 -5px 115px 0px 0px,
      #fd7a41 0px 115px 0px 0px, #fd7a41 5px 115px 0px 0px,
      #fd7a41 10px 115px 0px 0px, #000 15px 115px 0px 0px,
      #000 20px 115px 0px 0px, #000 25px 115px 0px 0px, #000 30px 115px 0px 0px,
      #000 35px 115px 0px 0px, #000 40px 115px 0px 0px, #000 45px 115px 0px 0px,
      #000 50px 115px 0px 0px, #000 55px 115px 0px 0px, #000 60px 115px 0px 0px,
      #fd7a41 65px 115px 0px 0px, #fd7a41 70px 115px 0px 0px,
      #fd7a41 75px 115px 0px 0px, #000 80px 115px 0px 0px,
      #000 0px 120px 0px 0px, #000 5px 120px 0px 0px, #000 10px 120px 0px 0px,
      #000 65px 120px 0px 0px, #000 70px 120px 0px 0px, #000 75px 120px 0px 0px;
  }
  50% {
  }
  100% {
    box-shadow: #000 5px 0px 0px 0px, #000 10px 0px 0px 0px,
      #000 15px 0px 0px 0px, #000 60px 0px 0px 0px, #000 65px 0px 0px 0px,
      #000 70px 0px 0px 0px, #000 75px 0px 0px 0px, #000 -5px 5px 0px 0px,
      #fd7a41 0px 5px 0px 0px, #fd7a41 5px 5px 0px 0px, #fd7a41 10px 5px 0px 0px,
      #fd7a41 15px 5px 0px 0px, #000 20px 5px 0px 0px, #000 55px 5px 0px 0px,
      #fd7a41 60px 5px 0px 0px, #fd7a41 65px 5px 0px 0px,
      #fd7a41 70px 5px 0px 0px, #fd7a41 75px 5px 0px 0px, #000 80px 5px 0px 0px,
      #000 -10px 10px 0px 0px, #fd7a41 -5px 10px 0px 0px,
      #fd7a41 0px 10px 0px 0px, #fd7a41 5px 10px 0px 0px,
      #fd7a41 10px 10px 0px 0px, #fd7a41 15px 10px 0px 0px,
      #fd7a41 20px 10px 0px 0px, #000 25px 10px 0px 0px, #000 50px 10px 0px 0px,
      #fd7a41 55px 10px 0px 0px, #fd7a41 55px 10px 0px 0px,
      #fd7a41 60px 10px 0px 0px, #fd7a41 65px 10px 0px 0px,
      #fd7a41 70px 10px 0px 0px, #fd7a41 75px 10px 0px 0px,
      #fd7a41 80px 10px 0px 0px, #000 85px 10px 0px 0px, #000 -15px 15px 0px 0px,
      #fd7a41 -10px 15px 0px 0px, #000 -5px 15px 0px 0px, #000 0px 15px 0px 0px,
      #fd7a41 5px 15px 0px 0px, #fd7a41 10px 15px 0px 0px,
      #fd7a41 15px 15px 0px 0px, #fd7a41 20px 15px 0px 0px,
      #000 25px 15px 0px 0px, #000 30px 15px 0px 0px, #000 35px 15px 0px 0px,
      #000 40px 15px 0px 0px, #000 45px 15px 0px 0px, #000 50px 15px 0px 0px,
      #000 55px 15px 0px 0px, #fd7a41 60px 15px 0px 0px,
      #fd7a41 65px 15px 0px 0px, #fd7a41 70px 15px 0px 0px,
      #fd7a41 75px 15px 0px 0px, #000 80px 15px 0px 0px,
      #fd7a41 85px 15px 0px 0px, #000 90px 15px 0px 0px, #000 -15px 20px 0px 0px,
      #000 5px 20px 0px 0px, #fd7a41 10px 20px 0px 0px,
      #fd7a41 15px 20px 0px 0px, #fd7a41 20px 20px 0px 0px,
      #fd7a41 25px 20px 0px 0px, #fd7a41 30px 20px 0px 0px,
      #fd7a41 35px 20px 0px 0px, #fd7a41 40px 20px 0px 0px,
      #fd7a41 45px 20px 0px 0px, #fd7a41 50px 20px 0px 0px,
      #fd7a41 55px 20px 0px 0px, #fd7a41 60px 20px 0px 0px,
      #fd7a41 65px 20px 0px 0px, #fd7a41 70px 20px 0px 0px,
      #000 75px 20px 0px 0px, #fd7a41 85px 20px 0px 0px, #000 90px 20px 0px 0px,
      #000 -15px 25px 0px 0px, #000 5px 25px 0px 0px, #fd7a41 10px 25px 0px 0px,
      #fd7a41 15px 25px 0px 0px, #fd7a41 20px 25px 0px 0px,
      #fd7a41 25px 25px 0px 0px, #fd7a41 30px 25px 0px 0px,
      #fd7a41 35px 25px 0px 0px, #fd7a41 40px 25px 0px 0px,
      #fd7a41 45px 25px 0px 0px, #fd7a41 50px 25px 0px 0px,
      #fd7a41 55px 25px 0px 0px, #fd7a41 60px 25px 0px 0px,
      #fd7a41 65px 25px 0px 0px, #fd7a41 70px 25px 0px 0px,
      #000 75px 25px 0px 0px, #fd7a41 85px 25px 0px 0px, #000 90px 25px 0px 0px,
      #000 -15px 30px 0px 0px, #fd7a41 -10px 30px 0px 0px,
      #fd7a41 0px 30px 0px 0px, #fd7a41 30px 30px 0px 0px,
      #fd7a41 35px 30px 0px 0px, #fd7a41 40px 30px 0px 0px,
      #fd7a41 45px 30px 0px 0px, #fd7a41 50px 30px 0px 0px,
      #fd7a41 55px 30px 0px 0px, #fd7a41 60px 30px 0px 0px,
      #fd7a41 65px 30px 0px 0px, #fd7a41 70px 30px 0px 0px,
      #fd7a41 75px 30px 0px 0px, #000 80px 30px 0px 0px,
      #fd7a41 85px 30px 0px 0px, #000 90px 30px 0px 0px, #000 -10px 35px 0px 0px,
      #000 -5px 35px 0px 0px, #fd7a41 45px 35px 0px 0px,
      #fd7a41 50px 35px 0px 0px, #fd7a41 55px 35px 0px 0px,
      #fd7a41 60px 35px 0px 0px, #000 65px 35px 0px 0px,
      #fd7a41 70px 35px 0px 0px, #fd7a41 75px 35px 0px 0px,
      #000 80px 35px 0px 0px, #000 85px 35px 0px 0px, #000 -5px 40px 0px 0px,
      #000 15px 40px 0px 0px, #000 20px 40px 0px 0px, #fff 25px 40px 0px 0px,
      #fd7a41 55px 40px 0px 0px, #fd7a41 60px 40px 0px 0px,
      #000 65px 40px 0px 0px, #000 70px 40px 0px 0px, #000 75px 40px 0px 0px,
      #000 85px 40px 0px 0px, #000 -5px 45px 0px 0px, #000 10px 45px 0px 0px,
      #000 15px 45px 0px 0px, #000 20px 45px 0px 0px, #000 25px 45px 0px 0px,
      #fff 30px 45px 0px 0px, #000 60px 45px 0px 0px, #000 75px 45px 0px 0px,
      #000 80px 45px 0px 0px, #000 85px 45px 0px 0px, #000 -5px 50px 0px 0px,
      #fff 10px 50px 0px 0px, #fff 15px 50px 0px 0px, #000 25px 50px 0px 0px,
      #000 30px 50px 0px 0px, #000 60px 50px 0px 0px, #000 75px 50px 0px 0px,
      #000 80px 50px 0px 0px, #fd7a41 85px 50px 0px 0px, #000 90px 50px 0px 0px,
      #000 -10px 55px 0px 0px, #fff 10px 55px 0px 0px, #fff 15px 55px 0px 0px,
      #fff 20px 55px 0px 0px, #fff 25px 55px 0px 0px, #000 30px 55px 0px 0px,
      #000 60px 55px 0px 0px, #000 65px 55px 0px 0px, #000 70px 55px 0px 0px,
      #000 75px 55px 0px 0px, #000 80px 55px 0px 0px, #000 90px 55px 0px 0px,
      #000 -15px 60px 0px 0px, #000 -10px 60px 0px 0px, #000 -5px 60px 0px 0px,
      #000 0px 60px 0px 0px, #fd7a41 5px 60px 0px 0px, #fff 15px 60px 0px 0px,
      #fff 20px 60px 0px 0px, #fff 25px 60px 0px 0px, #fff 30px 60px 0px 0px,
      #fd7a41 45px 60px 0px 0px, #000 50px 60px 0px 0px, #000 65px 60px 0px 0px,
      #000 70px 60px 0px 0px, #000 75px 60px 0px 0px, #fd7a41 85px 60px 0px 0px,
      #000 90px 60px 0px 0px, #000 95px 60px 0px 0px, #000 100px 60px 0px 0px,
      #000 -10px 65px 0px 0px, #fd7a41 -5px 65px 0px 0px, #000 90px 65px 0px 0px,
      #000 -10px 70px 0px 0px, #000 -5px 70px 0px 0px, #000 0px 70px 0px 0px,
      #fd7a41 5px 70px 0px 0px, #fd7a41 80px 70px 0px 0px,
      #000 85px 70px 0px 0px, #000 90px 70px 0px 0px, #000 95px 70px 0px 0px,
      #000 -15px 75px 0px 0px, #000 -10px 75px 0px 0px, #000 35px 75px 0px 0px,
      #000 50px 75px 0px 0px, #000 65px 75px 0px 0px, #fd7a41 85px 75px 0px 0px,
      #000 90px 75px 0px 0px, #000 -10px 80px 0px 0px, #fd7a41 -5px 80px 0px 0px,
      #fd7a41 0px 80px 0px 0px, #000 40px 80px 0px 0px, #000 45px 80px 0px 0px,
      #000 55px 80px 0px 0px, #000 60px 80px 0px 0px, #000 85px 80px 0px 0px,
      #000 -10px 85px 0px 0px, #fd7a41 -5px 85px 0px 0px,
      #fd7a41 0px 85px 0px 0px, #fd7a41 5px 85px 0px 0px,
      #fd7a41 10px 85px 0px 0px, #000 80px 85px 0px 0px, #000 85px 85px 0px 0px,
      #000 -15px 90px 0px 0px, #000 -10px 90px 0px 0px,
      #fd7a41 -5px 90px 0px 0px, #fd7a41 0px 90px 0px 0px,
      #000 25px 90px 0px 0px, #000 65px 90px 0px 0px, #fd7a41 80px 90px 0px 0px,
      #000 85px 90px 0px 0px, #000 -20px 95px 0px 0px,
      #fd7a41 -15px 95px 0px 0px, #000 -10px 95px 0px 0px,
      #fd7a41 -5px 95px 0px 0px, #fd7a41 20px 95px 0px 0px,
      #000 30px 95px 0px 0px, #000 60px 95px 0px 0px, #000 85px 95px 0px 0px,
      #000 -15px 100px 0px 0px, #000 -10px 100px 0px 0px,
      #000 15px 100px 0px 0px, #fd7a41 20px 100px 0px 0px,
      #fd7a41 25px 100px 0px 0px, #000 30px 100px 0px 0px,
      #000 60px 100px 0px 0px, #000 75px 100px 0px 0px, #000 85px 100px 0px 0px,
      #000 -10px 105px 0px 0px, #000 -5px 105px 0px 0px, #000 20px 105px 0px 0px,
      #000 25px 105px 0px 0px, #000 65px 105px 0px 0px, #000 70px 105px 0px 0px,
      #000 80px 105px 0px 0px, #000 -5px 110px 0px 0px, #000 0px 110px 0px 0px,
      #fd7a41 5px 110px 0px 0px, #000 10px 110px 0px 0px,
      #fd7a41 25px 110px 0px 0px, #fd7a41 30px 110px 0px 0px,
      #fd7a41 35px 110px 0px 0px, #fd7a41 40px 110px 0px 0px,
      #fd7a41 45px 110px 0px 0px, #fd7a41 70px 110px 0px 0px,
      #000 75px 110px 0px 0px, #000 -5px 115px 0px 0px,
      #fd7a41 0px 115px 0px 0px, #fd7a41 5px 115px 0px 0px,
      #fd7a41 10px 115px 0px 0px, #000 15px 115px 0px 0px,
      #000 20px 115px 0px 0px, #000 25px 115px 0px 0px, #000 30px 115px 0px 0px,
      #000 35px 115px 0px 0px, #000 40px 115px 0px 0px, #000 45px 115px 0px 0px,
      #000 50px 115px 0px 0px, #000 55px 115px 0px 0px, #000 60px 115px 0px 0px,
      #fd7a41 65px 115px 0px 0px, #fd7a41 70px 115px 0px 0px,
      #fd7a41 75px 115px 0px 0px, #000 80px 115px 0px 0px,
      #000 0px 120px 0px 0px, #000 5px 120px 0px 0px, #000 10px 120px 0px 0px,
      #000 65px 120px 0px 0px, #000 70px 120px 0px 0px, #000 75px 120px 0px 0px;
  }
}
