#caseybandiola {
  background: rgb(255,44,44);
  background: linear-gradient(180deg, rgba(255,44,44,1) 0%, rgba(255,120,6,1) 27%, rgba(255,203,0,1) 100%);
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  position:relative
}

#caseybandiola::after{
  position: absolute;
  content: "";
  height: 30px;
  width: 25px;
  border-radius: 50%;
  background-color: transparent;
  left: 70px;
  top: 40px;
  box-shadow: -20px 20px 0 0px black, 50px 20px 0 0px black;
}

#caseybandiola::before{
  position: absolute;
  content: "";
  height: 20px;
  width: 85px;
  border-radius: 10% 10% 50% 50% / 20% 20% 80% 80%;
  background-color: transparent;
  left: 55px;
  top: 105px;
  box-shadow: -10px 20px 0 0px black, 10px 20px 0 0px black;
}