#cayeborreo {
  box-shadow: -70px 0px 0 #fdcb2b, -30px -40px 0 #211c30, -80px 10px 0 #fdcb2b,
    -70px 10px 0 #ffe282, -60px 10px 0 #fdcb2b, -40px -30px 0 #211c30,
    -30px -30px 0 #47affa, -20px -30px 0 #211c30, -70px 20px 0 #fdcb2b,
    -40px -20px 0 #211c30, -30px -20px 0 #5bd04c, -20px -20px 0 #5bd04c,
    -10px -20px 0 #211c30, -30px -10px 0 #211c30, -20px -10px 0 #fdcb2b,
    -10px -10px 0 #fdcb2b, 0 -10px 0 #211c30, 70px -10px 0 #211c30,
    80px -10px 0 #211c30, -30px 0 0 #211c30, -20px 0 0 #f28a26,
    -10px 0 0 #f28a26, 10px 0 0 #211c30, 20px 0 0 #211c30, 30px 0 0 #211c30,
    40px 0 0 #211c30, 50px 0 0 #211c30, 60px 0 0 #211c30, 90px 0 0 #211c30,
    -20px 10px 0 #211c30, -10px 10px 0 #cd351d, 0 10px 0 #a42915,
    10px 10px 0 #7d1d0d, 20px 10px 0 #de57a9, 30px 10px 0 #de57a9,
    40px 10px 0 #de57a9, 50px 10px 0 #211c30, 70px 10px 0 #f14965,
    90px 10px 0 #211c30, -20px 20px 0 #211c30, -10px 20px 0 #7d1d0d,
    0 20px 0 #7d1d0d, 10px 20px 0 #de57a9, 20px 20px 0 #de57a9,
    30px 20px 0 #211c30, 40px 20px 0 #211c30, 60px 20px 0 #f14965,
    70px 20px 0 #f0b4df, 80px 20px 0 #211c30, -20px 30px 0 #211c30,
    -10px 30px 0 #de57a9, 0 30px 0 #de57a9, 10px 30px 0 #de57a9,
    20px 30px 0 #211c30, 30px 30px 0 #f0b4df, 60px 30px 0 #f0b4df,
    70px 30px 0 #211c30, -30px 40px 0 #211c30, -20px 40px 0 #de57a9,
    -10px 40px 0 #de57a9, 0 40px 0 #211c30, 10px 40px 0 #211c30,
    20px 40px 0 #f0b4df, 60px 40px 0 #211c30, 70px 40px 0 #de57a9,
    80px 40px 0 #211c30, -40px 50px 0 #211c30, -30px 50px 0 #f0b4df,
    -20px 50px 0 #211c30, -10px 50px 0 #211c30, 0 50px 0 #f0b4df,
    20px 50px 0 #211c30, 30px 50px 0 #211c30, 60px 50px 0 #211c30,
    70px 50px 0 #de57a9, 80px 50px 0 #de57a9, 90px 50px 0 #211c30,
    -90px 60px 0 #fdcb2b, -50px 60px 0 #211c30, 20px 60px 0 #211c30,
    30px 60px 0 #211c30, 60px 60px 0 #211c30, 70px 60px 0 #de57a9,
    80px 60px 0 #de57a9, 90px 60px 0 #de57a9, 100px 60px 0 #211c30,
    -100px 70px 0 #fdcb2b, -90px 70px 0 #ffe282, -80px 70px 0 #fdcb2b,
    -50px 70px 0 #211c30, -40px 70px 0 #f0b4df, -10px 70px 0 #f0b4df,
    60px 70px 0 #f0b4df, 70px 70px 0 #211c30, 80px 70px 0 #de57a9,
    80px 70px 0 #de57a9, 90px 70px 0 #de57a9, 100px 70px 0 #de57a9,
    110px 70px 0 #211c30, 120px 70px 0 #211c30, -90px 80px 0 #fdcb2b,
    -50px 80px 0 #211c30, -40px 80px 0 #f0b4df, -10px 80px 0 #f0b4df,
    70px 80px 0 #211c30, 80px 80px 0 #de57a9, 90px 80px 0 #de57a9,
    100px 80px 0 #de57a9, 110px 80px 0 #de57a9, 120px 80px 0 #211c30,
    -50px 90px 0 #211c30, 70px 90px 0 #f0b4df, 80px 90px 0 #211c30,
    90px 90px 0 #de57a9, 100px 90px 0 #de57a9, 110px 90px 0 #de57a9,
    120px 90px 0 #211c30, -40px 100px 0 #211c30, 30px 100px 0 #f0b4df,
    80px 100px 0 #f0b4df, 90px 100px 0 #211c30, 100px 100px 0 #de57a9,
    110px 100px 0 #211c30, 120px 100px 0 #f0b4df, -30px 110px 0 #211c30,
    -20px 110px 0 #211c30, -10px 110px 0 #211c30, 0 110px 0 #211c30,
    10px 110px 0 #211c30, 20px 110px 0 #211c30, 90px 110px 0 #211c30,
    100px 110px 0 #de57a9, 110px 110px 0 #211c30, 20px 120px 0 #211c30,
    100px 120px 0 #211c30, 110px 120px 0 #f0b4df;
  height: 10px;
  width: 10px;
  background-color: #cd351d;
}
