#cristiand391 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffcc4d;
  border-radius: 50%;
  position: relative;
}

#cristiand391::before {
  content: "";
  height: 35px;
  width: 25px;
  border-radius: 60%;
  box-shadow: 50px 0 #664500;
  background-color: #664500;
  position: absolute;
  top: 40px;
  left: 45px;
}

#cristiand391::after {
  content: "";
  display: block;
  border-radius: 25px;
  border: 6px solid #664500;
  width: 85px;
  height: 23px;
  background: linear-gradient(
        #664500,
        #664500 5px,
        rgba(255, 255, 255, 0) 5px,
        rgba(255, 255, 255, 0) 10px
      )
      0 9px,
    repeating-linear-gradient(
        90deg,
        white,
        white 15px,
        #664500 15px,
        #664500 20px
      ) -5px 0;
  margin: 65px auto 0 auto;
}
