#derekramsey12 {
  position: relative;
  width: 100px;
  height: 90px;
}
#derekramsey12:before,
#derekramsey12:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#derekramsey12:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
