#jennifer {
    position: relative;
    height: 5px;
    width: 5px;
    top: -50px;
    left: -100px;
    box-shadow: 195px 5px 0 0 #000000, 200px 5px 0 0 #000000, 
    185px 10px 0 0 #000000, 190px 10px 0 0 #000000, 195px 10px 0 0 #000000, 
    200px 10px 0 0 #000000, 175px 15px 0 0 #000000, 180px 15px 0 0 #000000, 
    185px 15px 0 0 #000000, 190px 15px 0 0 #000000, 195px 15px 0 0 #000000, 
    200px 15px 0 0 #000000, 170px 20px 0 0 #000000, 175px 20px 0 0 #ffc107, 
    180px 20px 0 0 #ffc107, 185px 20px 0 0 #ffc107, 190px 20px 0 0 #000000, 
    195px 20px 0 0 #000000, 200px 20px 0 0 #000000, 35px 25px 0 0 #000000, 
    40px 25px 0 0 #000000, 45px 25px 0 0 #000000, 50px 25px 0 0 #000000, 
    55px 25px 0 0 #000000, 60px 25px 0 0 #000000, 165px 25px 0 0 #000000, 
    170px 25px 0 0 #ffc107, 175px 25px 0 0 #ffc107, 180px 25px 0 0 #ffc107, 
    185px 25px 0 0 #ffc107, 190px 25px 0 0 #000000, 195px 25px 0 0 #000000, 
    35px 30px 0 0 #000000, 40px 30px 0 0 #000000, 45px 30px 0 0 #000000, 
    50px 30px 0 0 #ff9800, 55px 30px 0 0 #ff9800, 60px 30px 0 0 #ff9800, 
    65px 30px 0 0 #000000, 70px 30px 0 0 #000000, 75px 30px 0 0 #000000, 
    80px 30px 0 0 #000000, 160px 30px 0 0 #000000, 165px 30px 0 0 #ffc107, 
    170px 30px 0 0 #ffc107, 175px 30px 0 0 #ffc107, 180px 30px 0 0 #ffc107, 
    185px 30px 0 0 #ff9800, 190px 30px 0 0 #000000, 195px 30px 0 0 #000000, 
    45px 35px 0 0 #000000, 50px 35px 0 0 #000000, 55px 35px 0 0 #795548, 
    60px 35px 0 0 #ffc107, 65px 35px 0 0 #ffc107, 70px 35px 0 0 #ffc107, 
    75px 35px 0 0 #ffc107, 80px 35px 0 0 #ff9800, 85px 35px 0 0 #000000, 
    90px 35px 0 0 #000000, 95px 35px 0 0 #000000, 100px 35px 0 0 #000000, 
    105px 35px 0 0 #ffffff, 110px 35px 0 0 #000000, 115px 35px 0 0 #000000, 
    120px 35px 0 0 #000000, 125px 35px 0 0 #000000, 130px 35px 0 0 #000000, 
    135px 35px 0 0 #000000, 140px 35px 0 0 #000000, 145px 35px 0 0 #ffffff, 
    150px 35px 0 0 #000000, 155px 35px 0 0 #000000, 160px 35px 0 0 #ffc107, 
    165px 35px 0 0 #ffc107, 170px 35px 0 0 #ffc107, 175px 35px 0 0 #ffc107, 
    180px 35px 0 0 #ff9800, 185px 35px 0 0 #ff9800, 190px 35px 0 0 #000000, 
    50px 40px 0 0 #000000, 55px 40px 0 0 #000000, 60px 40px 0 0 #795548, 
    65px 40px 0 0 #ff9800, 70px 40px 0 0 #ffc107, 75px 40px 0 0 #ffc107, 
    80px 40px 0 0 #ffc107, 85px 40px 0 0 #ffc107, 90px 40px 0 0 #ffc107, 
    95px 40px 0 0 #ffc107, 100px 40px 0 0 #ff9800, 105px 40px 0 0 #000000, 
    110px 40px 0 0 #ffc107, 115px 40px 0 0 #ffc107, 120px 40px 0 0 #ffc107, 
    125px 40px 0 0 #ffc107, 130px 40px 0 0 #ffc107, 135px 40px 0 0 #ffc107, 
    140px 40px 0 0 #ffc107, 145px 40px 0 0 #000000, 150px 40px 0 0 #ff9800, 
    155px 40px 0 0 #ffc107, 160px 40px 0 0 #ffc107, 165px 40px 0 0 #ffc107, 
    170px 40px 0 0 #ffc107, 175px 40px 0 0 #ff9800, 180px 40px 0 0 #ff9800, 
    185px 40px 0 0 #000000, 55px 45px 0 0 #000000, 60px 45px 0 0 #000000, 
    65px 45px 0 0 #ff9800, 70px 45px 0 0 #ff9800, 75px 45px 0 0 #ff9800, 
    80px 45px 0 0 #ffc107, 85px 45px 0 0 #ffc107, 90px 45px 0 0 #ffc107, 
    95px 45px 0 0 #ffc107, 100px 45px 0 0 #ffc107, 105px 45px 0 0 #ffc107, 
    110px 45px 0 0 #ffc107, 115px 45px 0 0 #ffc107, 120px 45px 0 0 #ffc107, 
    125px 45px 0 0 #ffc107, 130px 45px 0 0 #ffc107, 135px 45px 0 0 #ffc107, 
    140px 45px 0 0 #ffc107, 145px 45px 0 0 #ffc107, 150px 45px 0 0 #ffc107, 
    155px 45px 0 0 #ffc107, 160px 45px 0 0 #ffc107, 165px 45px 0 0 #ff9800, 
    170px 45px 0 0 #ff9800, 175px 45px 0 0 #ff9800, 180px 45px 0 0 #000000, 
    60px 50px 0 0 #000000, 65px 50px 0 0 #000000, 70px 50px 0 0 #ff9800, 
    75px 50px 0 0 #ff9800, 80px 50px 0 0 #ff9800, 85px 50px 0 0 #ff9800, 
    90px 50px 0 0 #ff9800, 95px 50px 0 0 #ffc107, 100px 50px 0 0 #ffc107, 
    105px 50px 0 0 #ffc107, 110px 50px 0 0 #ffc107, 115px 50px 0 0 #ffc107, 
    120px 50px 0 0 #ffc107, 125px 50px 0 0 #ffc107, 130px 50px 0 0 #ffc107, 
    135px 50px 0 0 #ffc107, 140px 50px 0 0 #ffc107, 145px 50px 0 0 #ffc107, 
    150px 50px 0 0 #ffc107, 155px 50px 0 0 #ffc107, 160px 50px 0 0 #ff9800, 
    165px 50px 0 0 #000000, 170px 50px 0 0 #ff9800, 175px 50px 0 0 #000000, 
    70px 55px 0 0 #000000, 75px 55px 0 0 #000000, 80px 55px 0 0 #ff9800, 
    85px 55px 0 0 #000000, 90px 55px 0 0 #ffc107, 95px 55px 0 0 #ffc107, 
    100px 55px 0 0 #ffc107, 105px 55px 0 0 #ffc107, 110px 55px 0 0 #ffc107, 
    115px 55px 0 0 #ffc107, 120px 55px 0 0 #ffc107, 125px 55px 0 0 #ffc107, 
    130px 55px 0 0 #ffc107, 135px 55px 0 0 #ffc107, 140px 55px 0 0 #ffc107, 
    145px 55px 0 0 #ffc107, 150px 55px 0 0 #ffc107, 155px 55px 0 0 #ffc107, 
    160px 55px 0 0 #ffc107, 165px 55px 0 0 #ff9800, 170px 55px 0 0 #000000, 
    20px 60px 0 0 #000000, 80px 60px 0 0 #000000, 85px 60px 0 0 #ffc107, 
    90px 60px 0 0 #ffc107, 95px 60px 0 0 #ffc107, 100px 60px 0 0 #ffc107, 
    105px 60px 0 0 #ffc107, 110px 60px 0 0 #ffc107, 115px 60px 0 0 #ffc107, 
    120px 60px 0 0 #ffc107, 125px 60px 0 0 #ffc107, 130px 60px 0 0 #ffc107, 
    135px 60px 0 0 #ffc107, 140px 60px 0 0 #ffc107, 145px 60px 0 0 #ffc107, 
    150px 60px 0 0 #ffc107, 155px 60px 0 0 #ffc107, 160px 60px 0 0 #ffc107, 
    165px 60px 0 0 #ffc107, 170px 60px 0 0 #000000, 20px 65px 0 0 #000000, 
    25px 65px 0 0 #000000, 80px 65px 0 0 #000000, 85px 65px 0 0 #ffc107, 
    90px 65px 0 0 #ffc107, 95px 65px 0 0 #ffc107, 100px 65px 0 0 #000000, 
    105px 65px 0 0 #000000, 110px 65px 0 0 #ffc107, 115px 65px 0 0 #ffc107, 
    120px 65px 0 0 #ffc107, 125px 65px 0 0 #ffc107, 130px 65px 0 0 #ffc107, 
    135px 65px 0 0 #ffc107, 140px 65px 0 0 #ffc107, 145px 65px 0 0 #ffc107, 
    150px 65px 0 0 #000000, 155px 65px 0 0 #000000, 160px 65px 0 0 #ffc107, 
    165px 65px 0 0 #ffc107, 170px 65px 0 0 #000000, 20px 70px 0 0 #000000, 
    25px 70px 0 0 #ff9800, 30px 70px 0 0 #000000, 75px 70px 0 0 #000000, 
    80px 70px 0 0 #ff9800, 85px 70px 0 0 #ffc107, 90px 70px 0 0 #ffc107, 
    95px 70px 0 0 #000000, 100px 70px 0 0 #000000, 105px 70px 0 0 #ffffff, 
    110px 70px 0 0 #000000, 115px 70px 0 0 #ffc107, 120px 70px 0 0 #ffc107, 
    125px 70px 0 0 #ffc107, 130px 70px 0 0 #ffc107, 135px 70px 0 0 #ffc107, 
    140px 70px 0 0 #ffc107, 145px 70px 0 0 #000000, 150px 70px 0 0 #000000, 
    155px 70px 0 0 #ffffff, 160px 70px 0 0 #000000, 165px 70px 0 0 #ffc107, 
    170px 70px 0 0 #ff9800, 175px 70px 0 0 #000000, 20px 75px 0 0 #000000, 
    25px 75px 0 0 #ffc107, 30px 75px 0 0 #ff9800, 35px 75px 0 0 #000000, 
    75px 75px 0 0 #000000, 80px 75px 0 0 #ffc107, 85px 75px 0 0 #ffc107, 
    90px 75px 0 0 #ffc107, 95px 75px 0 0 #000000, 100px 75px 0 0 #000000, 
    105px 75px 0 0 #000000, 110px 75px 0 0 #000000, 115px 75px 0 0 #ffc107, 
    120px 75px 0 0 #ffc107, 125px 75px 0 0 #ffc107, 130px 75px 0 0 #ffc107, 
    135px 75px 0 0 #ffc107, 140px 75px 0 0 #ffc107, 145px 75px 0 0 #000000, 
    150px 75px 0 0 #000000, 155px 75px 0 0 #000000, 160px 75px 0 0 #000000, 
    165px 75px 0 0 #ffc107, 170px 75px 0 0 #ffc107, 175px 75px 0 0 #000000, 
    20px 80px 0 0 #000000, 25px 80px 0 0 #ffc107, 30px 80px 0 0 #ffc107, 
    35px 80px 0 0 #ff9800, 40px 80px 0 0 #000000, 75px 80px 0 0 #000000, 
    80px 80px 0 0 #ffc107, 85px 80px 0 0 #ffc107, 90px 80px 0 0 #ffc107, 
    95px 80px 0 0 #ffc107, 100px 80px 0 0 #000000, 105px 80px 0 0 #000000, 
    110px 80px 0 0 #ffc107, 115px 80px 0 0 #ffc107, 120px 80px 0 0 #ffc107, 
    125px 80px 0 0 #ffc107, 130px 80px 0 0 #ffc107, 135px 80px 0 0 #ffc107, 
    140px 80px 0 0 #ffc107, 145px 80px 0 0 #ffc107, 150px 80px 0 0 #000000, 
    155px 80px 0 0 #000000, 160px 80px 0 0 #ffc107, 165px 80px 0 0 #ffc107, 
    170px 80px 0 0 #ffc107, 175px 80px 0 0 #000000, 20px 85px 0 0 #000000, 
    25px 85px 0 0 #ffc107, 30px 85px 0 0 #ffc107, 35px 85px 0 0 #ffc107, 
    40px 85px 0 0 #ff9800, 45px 85px 0 0 #000000, 70px 85px 0 0 #000000, 
    75px 85px 0 0 #ffc107, 80px 85px 0 0 #ffc107, 85px 85px 0 0 #ff0000, 
    90px 85px 0 0 #ff0000, 95px 85px 0 0 #ffc107, 100px 85px 0 0 #ffc107, 
    105px 85px 0 0 #ffc107, 110px 85px 0 0 #ffc107, 115px 85px 0 0 #ffc107, 
    120px 85px 0 0 #ffc107, 125px 85px 0 0 #000000, 130px 85px 0 0 #000000, 
    135px 85px 0 0 #ffc107, 140px 85px 0 0 #ffc107, 145px 85px 0 0 #ffc107, 
    150px 85px 0 0 #ffc107, 155px 85px 0 0 #ffc107, 160px 85px 0 0 #ffc107, 
    165px 85px 0 0 #ff0000, 170px 85px 0 0 #ff0000, 175px 85px 0 0 #ffc107, 
    180px 85px 0 0 #000000, 20px 90px 0 0 #000000, 25px 90px 0 0 #ffc107, 
    30px 90px 0 0 #ffc107, 35px 90px 0 0 #ffc107, 40px 90px 0 0 #ffc107, 
    45px 90px 0 0 #ff9800, 50px 90px 0 0 #000000, 70px 90px 0 0 #000000, 
    75px 90px 0 0 #ffc107, 80px 90px 0 0 #ff0000, 85px 90px 0 0 #ff0000, 
    90px 90px 0 0 #ff0000, 95px 90px 0 0 #ff0000, 100px 90px 0 0 #ffc107, 
    105px 90px 0 0 #ffc107, 110px 90px 0 0 #ffc107, 115px 90px 0 0 #ffc107, 
    120px 90px 0 0 #ffc107, 125px 90px 0 0 #ffc107, 130px 90px 0 0 #ffc107, 
    135px 90px 0 0 #ffc107, 140px 90px 0 0 #ffc107, 145px 90px 0 0 #ffc107, 
    150px 90px 0 0 #ffc107, 155px 90px 0 0 #ffc107, 160px 90px 0 0 #ff0000, 
    165px 90px 0 0 #ff0000, 170px 90px 0 0 #ff0000, 175px 90px 0 0 #ff0000, 
    180px 90px 0 0 #000000, 20px 95px 0 0 #000000, 25px 95px 0 0 #ffc107, 
    30px 95px 0 0 #ffc107, 35px 95px 0 0 #ffc107, 40px 95px 0 0 #ffc107, 
    45px 95px 0 0 #ffc107, 50px 95px 0 0 #ff9800, 55px 95px 0 0 #000000, 
    70px 95px 0 0 #000000, 75px 95px 0 0 #ffc107, 80px 95px 0 0 #ff0000, 
    85px 95px 0 0 #ff0000, 90px 95px 0 0 #ff0000, 95px 95px 0 0 #ff0000, 
    100px 95px 0 0 #ffc107, 105px 95px 0 0 #ffc107, 110px 95px 0 0 #000000, 
    115px 95px 0 0 #ffc107, 120px 95px 0 0 #ffc107, 125px 95px 0 0 #000000, 
    130px 95px 0 0 #000000, 135px 95px 0 0 #ffc107, 140px 95px 0 0 #ffc107, 
    145px 95px 0 0 #000000, 150px 95px 0 0 #ffc107, 155px 95px 0 0 #ffc107, 
    160px 95px 0 0 #ff0000, 165px 95px 0 0 #ff0000, 170px 95px 0 0 #ff0000, 
    175px 95px 0 0 #ff0000, 180px 95px 0 0 #000000, 20px 100px 0 0 #000000, 
    25px 100px 0 0 #ffc107, 30px 100px 0 0 #ffc107, 35px 100px 0 0 #ffc107, 
    40px 100px 0 0 #ffc107, 45px 100px 0 0 #ffc107, 50px 100px 0 0 #ffc107, 
    55px 100px 0 0 #ff9800, 60px 100px 0 0 #000000, 70px 100px 0 0 #000000, 
    75px 100px 0 0 #ffc107, 80px 100px 0 0 #ffc107, 85px 100px 0 0 #ff0000, 
    90px 100px 0 0 #ff0000, 95px 100px 0 0 #ffc107, 100px 100px 0 0 #ffc107, 
    105px 100px 0 0 #ffc107, 110px 100px 0 0 #ffc107, 115px 100px 0 0 #000000, 
    120px 100px 0 0 #000000, 125px 100px 0 0 #ffc107, 130px 100px 0 0 #ffc107, 
    135px 100px 0 0 #000000, 140px 100px 0 0 #000000, 145px 100px 0 0 #ffc107, 
    150px 100px 0 0 #ffc107, 155px 100px 0 0 #ffc107, 160px 100px 0 0 #ffc107, 
    165px 100px 0 0 #ff0000, 170px 100px 0 0 #ff0000, 175px 100px 0 0 #ffc107, 
    180px 100px 0 0 #000000, 20px 105px 0 0 #000000, 25px 105px 0 0 #ffc107, 
    30px 105px 0 0 #ffc107, 35px 105px 0 0 #ffc107, 40px 105px 0 0 #ffc107, 
    45px 105px 0 0 #ffc107, 50px 105px 0 0 #ffc107, 55px 105px 0 0 #ffc107, 
    60px 105px 0 0 #ff9800, 65px 105px 0 0 #000000, 70px 105px 0 0 #000000, 
    75px 105px 0 0 #000000, 80px 105px 0 0 #ffc107, 85px 105px 0 0 #ffc107, 
    90px 105px 0 0 #ffc107, 95px 105px 0 0 #ffc107, 100px 105px 0 0 #ffc107, 
    105px 105px 0 0 #ffc107, 110px 105px 0 0 #ffc107, 115px 105px 0 0 #ffc107, 
    120px 105px 0 0 #ffc107, 125px 105px 0 0 #ffc107, 130px 105px 0 0 #ffc107, 
    135px 105px 0 0 #ffc107, 140px 105px 0 0 #ffc107, 145px 105px 0 0 #ffc107, 
    150px 105px 0 0 #ffc107, 155px 105px 0 0 #ffc107, 160px 105px 0 0 #ffc107, 
    165px 105px 0 0 #ffc107, 170px 105px 0 0 #ffc107, 175px 105px 0 0 #000000, 
    20px 110px 0 0 #000000, 25px 110px 0 0 #ffc107, 30px 110px 0 0 #ffc107, 
    35px 110px 0 0 #ffc107, 40px 110px 0 0 #ffc107, 45px 110px 0 0 #ffc107, 
    50px 110px 0 0 #ffc107, 55px 110px 0 0 #ffc107, 60px 110px 0 0 #ffc107, 
    65px 110px 0 0 #ff9800, 70px 110px 0 0 #000000, 75px 110px 0 0 #000000, 
    80px 110px 0 0 #ff9800, 85px 110px 0 0 #ffc107, 90px 110px 0 0 #ffc107, 
    95px 110px 0 0 #ffc107, 100px 110px 0 0 #ffc107, 105px 110px 0 0 #ffc107, 
    110px 110px 0 0 #ffc107, 115px 110px 0 0 #ffc107, 120px 110px 0 0 #ffc107, 
    125px 110px 0 0 #ffc107, 130px 110px 0 0 #ffc107, 135px 110px 0 0 #ffc107, 
    140px 110px 0 0 #ffc107, 145px 110px 0 0 #ffc107, 150px 110px 0 0 #ffc107, 
    155px 110px 0 0 #ffc107, 160px 110px 0 0 #ffc107, 165px 110px 0 0 #ffc107, 
    170px 110px 0 0 #ff9800, 175px 110px 0 0 #000000, 25px 115px 0 0 #000000, 
    30px 115px 0 0 #ffc107, 35px 115px 0 0 #ffc107, 40px 115px 0 0 #ffc107, 
    45px 115px 0 0 #ffc107, 50px 115px 0 0 #ffc107, 55px 115px 0 0 #ffc107, 
    60px 115px 0 0 #ffc107, 65px 115px 0 0 #ffc107, 70px 115px 0 0 #000000, 
    75px 115px 0 0 #ffffff, 80px 115px 0 0 #000000, 85px 115px 0 0 #ffc107, 
    90px 115px 0 0 #ffc107, 95px 115px 0 0 #ffc107, 100px 115px 0 0 #ffc107, 
    105px 115px 0 0 #ffc107, 110px 115px 0 0 #ffc107, 115px 115px 0 0 #ffc107, 
    120px 115px 0 0 #ffc107, 125px 115px 0 0 #ffc107, 130px 115px 0 0 #ffc107, 
    135px 115px 0 0 #ffc107, 140px 115px 0 0 #ffc107, 145px 115px 0 0 #ffc107, 
    150px 115px 0 0 #ffc107, 155px 115px 0 0 #ffc107, 160px 115px 0 0 #ffc107, 
    165px 115px 0 0 #ffc107, 170px 115px 0 0 #000000, 175px 115px 0 0 #ffffff, 
    30px 120px 0 0 #000000, 35px 120px 0 0 #ffc107, 40px 120px 0 0 #ffc107, 
    45px 120px 0 0 #ffc107, 50px 120px 0 0 #ffc107, 55px 120px 0 0 #ffc107, 
    60px 120px 0 0 #ffc107, 65px 120px 0 0 #000000, 75px 120px 0 0 #000000, 
    80px 120px 0 0 #ff9800, 85px 120px 0 0 #ffc107, 90px 120px 0 0 #ffc107, 
    95px 120px 0 0 #ffc107, 100px 120px 0 0 #ffc107, 105px 120px 0 0 #ffc107, 
    110px 120px 0 0 #ffc107, 115px 120px 0 0 #ffc107, 120px 120px 0 0 #ff9800, 
    125px 120px 0 0 #ff9800, 130px 120px 0 0 #ff9800, 135px 120px 0 0 #ff9800, 
    140px 120px 0 0 #ffc107, 145px 120px 0 0 #ffc107, 150px 120px 0 0 #ffc107, 
    155px 120px 0 0 #ffc107, 160px 120px 0 0 #ffc107, 165px 120px 0 0 #ffc107, 
    170px 120px 0 0 #ff9800, 175px 120px 0 0 #000000, 35px 125px 0 0 #000000, 
    40px 125px 0 0 #ffc107, 45px 125px 0 0 #ffc107, 50px 125px 0 0 #ffc107, 
    55px 125px 0 0 #ffc107, 60px 125px 0 0 #000000, 75px 125px 0 0 #000000, 
    80px 125px 0 0 #000000, 85px 125px 0 0 #ffc107, 90px 125px 0 0 #ffc107, 
    95px 125px 0 0 #ffc107, 100px 125px 0 0 #ffc107, 105px 125px 0 0 #ffc107, 
    110px 125px 0 0 #ffc107, 115px 125px 0 0 #ffc107, 120px 125px 0 0 #ffc107, 
    125px 125px 0 0 #ff9800, 130px 125px 0 0 #ff9800, 135px 125px 0 0 #ffc107, 
    140px 125px 0 0 #ffc107, 145px 125px 0 0 #ffc107, 150px 125px 0 0 #ffc107, 
    155px 125px 0 0 #ffc107, 160px 125px 0 0 #ffc107, 165px 125px 0 0 #ffc107, 
    170px 125px 0 0 #ffc107, 175px 125px 0 0 #000000, 30px 130px 0 0 #000000, 
    35px 130px 0 0 #ffc107, 40px 130px 0 0 #ffc107, 45px 130px 0 0 #ffc107, 
    50px 130px 0 0 #ffc107, 55px 130px 0 0 #000000, 75px 130px 0 0 #000000, 
    80px 130px 0 0 #ffc107, 85px 130px 0 0 #ffc107, 90px 130px 0 0 #ffc107, 
    95px 130px 0 0 #ffc107, 100px 130px 0 0 #ffc107, 105px 130px 0 0 #ffc107, 
    110px 130px 0 0 #000000, 115px 130px 0 0 #ffc107, 120px 130px 0 0 #ffc107, 
    125px 130px 0 0 #ffc107, 130px 130px 0 0 #ffc107, 135px 130px 0 0 #ffc107, 
    140px 130px 0 0 #ffc107, 145px 130px 0 0 #000000, 150px 130px 0 0 #ffc107, 
    155px 130px 0 0 #ffc107, 160px 130px 0 0 #ffc107, 165px 130px 0 0 #ffc107, 
    170px 130px 0 0 #ffc107, 175px 130px 0 0 #000000, 30px 135px 0 0 #000000, 
    35px 135px 0 0 #ffc107, 40px 135px 0 0 #ffc107, 45px 135px 0 0 #ffc107, 
    50px 135px 0 0 #ffc107, 55px 135px 0 0 #ffc107, 60px 135px 0 0 #000000, 
    70px 135px 0 0 #000000, 75px 135px 0 0 #ffc107, 80px 135px 0 0 #ffc107, 
    85px 135px 0 0 #ffc107, 90px 135px 0 0 #000000, 95px 135px 0 0 #ffc107, 
    100px 135px 0 0 #ffc107, 105px 135px 0 0 #ffc107, 110px 135px 0 0 #000000, 
    115px 135px 0 0 #ffc107, 120px 135px 0 0 #ffc107, 125px 135px 0 0 #ffc107, 
    130px 135px 0 0 #ffc107, 135px 135px 0 0 #ffc107, 140px 135px 0 0 #ffc107, 
    145px 135px 0 0 #000000, 150px 135px 0 0 #ffc107, 155px 135px 0 0 #ffc107, 
    160px 135px 0 0 #ffc107, 165px 135px 0 0 #000000, 170px 135px 0 0 #ffc107, 
    175px 135px 0 0 #000000, 35px 140px 0 0 #000000, 40px 140px 0 0 #ffc107, 
    45px 140px 0 0 #ffc107, 50px 140px 0 0 #ffc107, 55px 140px 0 0 #ffc107, 
    60px 140px 0 0 #ffc107, 65px 140px 0 0 #000000, 70px 140px 0 0 #000000, 
    75px 140px 0 0 #ffc107, 80px 140px 0 0 #ffc107, 85px 140px 0 0 #ffc107, 
    90px 140px 0 0 #ff9800, 95px 140px 0 0 #ffc107, 100px 140px 0 0 #ffc107, 
    105px 140px 0 0 #ffc107, 110px 140px 0 0 #ffc107, 115px 140px 0 0 #000000, 
    120px 140px 0 0 #ffc107, 125px 140px 0 0 #ffc107, 130px 140px 0 0 #ffc107, 
    135px 140px 0 0 #ffc107, 140px 140px 0 0 #000000, 145px 140px 0 0 #ffc107, 
    150px 140px 0 0 #ffc107, 155px 140px 0 0 #ffc107, 160px 140px 0 0 #ffc107, 
    165px 140px 0 0 #000000, 170px 140px 0 0 #ffc107, 175px 140px 0 0 #ffc107, 
    180px 140px 0 0 #000000, 40px 145px 0 0 #000000, 45px 145px 0 0 #ffc107, 
    50px 145px 0 0 #ffc107, 55px 145px 0 0 #ff9800, 60px 145px 0 0 #ff9800, 
    65px 145px 0 0 #795548, 70px 145px 0 0 #000000, 75px 145px 0 0 #ffc107, 
    80px 145px 0 0 #ffc107, 85px 145px 0 0 #ffc107, 90px 145px 0 0 #ff9800, 
    95px 145px 0 0 #000000, 100px 145px 0 0 #ffc107, 105px 145px 0 0 #ffc107, 
    110px 145px 0 0 #ffc107, 115px 145px 0 0 #000000, 120px 145px 0 0 #ffc107, 
    125px 145px 0 0 #ffc107, 130px 145px 0 0 #ffc107, 135px 145px 0 0 #ffc107, 
    140px 145px 0 0 #000000, 145px 145px 0 0 #ffc107, 150px 145px 0 0 #ffc107, 
    155px 145px 0 0 #ffc107, 160px 145px 0 0 #000000, 165px 145px 0 0 #ff9800, 
    170px 145px 0 0 #ffc107, 175px 145px 0 0 #ffc107, 180px 145px 0 0 #000000, 
    45px 150px 0 0 #000000, 50px 150px 0 0 #ff9800, 55px 150px 0 0 #ff9800, 
    60px 150px 0 0 #ff9800, 65px 150px 0 0 #000000, 70px 150px 0 0 #000000, 
    75px 150px 0 0 #ffc107, 80px 150px 0 0 #ffc107, 85px 150px 0 0 #ffc107, 
    90px 150px 0 0 #ff9800, 95px 150px 0 0 #000000, 100px 150px 0 0 #ffc107, 
    105px 150px 0 0 #ffc107, 110px 150px 0 0 #ffc107, 115px 150px 0 0 #000000, 
    120px 150px 0 0 #ffc107, 125px 150px 0 0 #ffc107, 130px 150px 0 0 #ffc107, 
    135px 150px 0 0 #ffc107, 140px 150px 0 0 #000000, 145px 150px 0 0 #ffc107, 
    150px 150px 0 0 #ffc107, 155px 150px 0 0 #ffc107, 160px 150px 0 0 #000000, 
    165px 150px 0 0 #ff9800, 170px 150px 0 0 #ffc107, 175px 150px 0 0 #ffc107, 
    180px 150px 0 0 #000000, 50px 155px 0 0 #000000, 55px 155px 0 0 #ff9800, 
    60px 155px 0 0 #795548, 65px 155px 0 0 #795548, 70px 155px 0 0 #000000, 
    75px 155px 0 0 #ffc107, 80px 155px 0 0 #ffc107, 85px 155px 0 0 #ffc107, 
    90px 155px 0 0 #ffc107, 95px 155px 0 0 #ff9800, 100px 155px 0 0 #000000, 
    105px 155px 0 0 #ffc107, 110px 155px 0 0 #ffc107, 115px 155px 0 0 #000000, 
    120px 155px 0 0 #ffc107, 125px 155px 0 0 #ffc107, 130px 155px 0 0 #ffc107, 
    135px 155px 0 0 #ffc107, 140px 155px 0 0 #000000, 145px 155px 0 0 #ffc107, 
    150px 155px 0 0 #ffc107, 155px 155px 0 0 #000000, 160px 155px 0 0 #ff9800, 
    165px 155px 0 0 #ffc107, 170px 155px 0 0 #ffc107, 175px 155px 0 0 #ffc107, 
    180px 155px 0 0 #000000, 45px 160px 0 0 #000000, 50px 160px 0 0 #795548, 
    55px 160px 0 0 #795548, 60px 160px 0 0 #795548, 65px 160px 0 0 #795548, 
    70px 160px 0 0 #000000, 75px 160px 0 0 #ffc107, 80px 160px 0 0 #ffc107, 
    85px 160px 0 0 #ffc107, 90px 160px 0 0 #ffc107, 95px 160px 0 0 #ffc107, 
    100px 160px 0 0 #ff9800, 105px 160px 0 0 #000000, 110px 160px 0 0 #000000, 
    115px 160px 0 0 #ffc107, 120px 160px 0 0 #ffc107, 125px 160px 0 0 #ffc107, 
    130px 160px 0 0 #ffc107, 135px 160px 0 0 #ffc107, 140px 160px 0 0 #ffc107, 
    145px 160px 0 0 #000000, 150px 160px 0 0 #000000, 155px 160px 0 0 #ff9800, 
    160px 160px 0 0 #ffc107, 165px 160px 0 0 #ffc107, 170px 160px 0 0 #ffc107, 
    175px 160px 0 0 #ffc107, 180px 160px 0 0 #000000, 50px 165px 0 0 #000000, 
    55px 165px 0 0 #795548, 60px 165px 0 0 #795548, 65px 165px 0 0 #795548, 
    70px 165px 0 0 #000000, 75px 165px 0 0 #ffc107, 80px 165px 0 0 #ffc107, 
    85px 165px 0 0 #ffc107, 90px 165px 0 0 #ffc107, 95px 165px 0 0 #ffc107, 
    100px 165px 0 0 #ffc107, 105px 165px 0 0 #ffc107, 110px 165px 0 0 #ffc107, 
    115px 165px 0 0 #ffc107, 120px 165px 0 0 #ffc107, 125px 165px 0 0 #ffc107, 
    130px 165px 0 0 #ffc107, 135px 165px 0 0 #ffc107, 140px 165px 0 0 #ffc107, 
    145px 165px 0 0 #ffc107, 150px 165px 0 0 #ffc107, 155px 165px 0 0 #ffc107, 
    160px 165px 0 0 #ffc107, 165px 165px 0 0 #ffc107, 170px 165px 0 0 #ffc107, 
    175px 165px 0 0 #ffc107, 180px 165px 0 0 #000000, 55px 170px 0 0 #000000, 
    60px 170px 0 0 #000000, 65px 170px 0 0 #795548, 70px 170px 0 0 #000000, 
    75px 170px 0 0 #ff9800, 80px 170px 0 0 #ffc107, 85px 170px 0 0 #ffc107, 
    90px 170px 0 0 #ffc107, 95px 170px 0 0 #ffc107, 100px 170px 0 0 #ffc107, 
    105px 170px 0 0 #ffc107, 110px 170px 0 0 #ffc107, 115px 170px 0 0 #ffc107, 
    120px 170px 0 0 #ffc107, 125px 170px 0 0 #ffc107, 130px 170px 0 0 #ffc107, 
    135px 170px 0 0 #ffc107, 140px 170px 0 0 #ffc107, 145px 170px 0 0 #ffc107, 
    150px 170px 0 0 #ffc107, 155px 170px 0 0 #ffc107, 160px 170px 0 0 #ffc107, 
    165px 170px 0 0 #ffc107, 170px 170px 0 0 #ffc107, 175px 170px 0 0 #ffc107, 
    180px 170px 0 0 #000000, 65px 175px 0 0 #000000, 70px 175px 0 0 #000000, 
    75px 175px 0 0 #000000, 80px 175px 0 0 #ffc107, 85px 175px 0 0 #ffc107, 
    90px 175px 0 0 #ffc107, 95px 175px 0 0 #ffc107, 100px 175px 0 0 #ffc107, 
    105px 175px 0 0 #ffc107, 110px 175px 0 0 #ffc107, 115px 175px 0 0 #ffc107, 
    120px 175px 0 0 #ffc107, 125px 175px 0 0 #ffc107, 130px 175px 0 0 #ffc107, 
    135px 175px 0 0 #ffc107, 140px 175px 0 0 #ffc107, 145px 175px 0 0 #ffc107, 
    150px 175px 0 0 #ffc107, 155px 175px 0 0 #ffc107, 160px 175px 0 0 #ffc107, 
    165px 175px 0 0 #ffc107, 170px 175px 0 0 #ffc107, 175px 175px 0 0 #000000, 
    75px 180px 0 0 #000000, 80px 180px 0 0 #ff9800, 85px 180px 0 0 #ffc107, 
    90px 180px 0 0 #ffc107, 95px 180px 0 0 #ffc107, 100px 180px 0 0 #ffc107, 
    105px 180px 0 0 #ffc107, 110px 180px 0 0 #ffc107, 115px 180px 0 0 #ffc107, 
    120px 180px 0 0 #ffc107, 125px 180px 0 0 #ffc107, 130px 180px 0 0 #ffc107, 
    135px 180px 0 0 #ffc107, 140px 180px 0 0 #ffc107, 145px 180px 0 0 #ffc107, 
    150px 180px 0 0 #ffc107, 155px 180px 0 0 #ffc107, 160px 180px 0 0 #ffc107, 
    165px 180px 0 0 #ffc107, 170px 180px 0 0 #ffc107, 175px 180px 0 0 #000000, 
    80px 185px 0 0 #000000, 85px 185px 0 0 #ffc107, 90px 185px 0 0 #ffc107, 
    95px 185px 0 0 #ffc107, 100px 185px 0 0 #ffc107, 105px 185px 0 0 #ffc107, 
    110px 185px 0 0 #ffc107, 115px 185px 0 0 #ff9800, 120px 185px 0 0 #ff9800, 
    125px 185px 0 0 #ff9800, 130px 185px 0 0 #ff9800, 135px 185px 0 0 #ff9800, 
    140px 185px 0 0 #ffc107, 145px 185px 0 0 #ffc107, 150px 185px 0 0 #ffc107, 
    155px 185px 0 0 #ffc107, 160px 185px 0 0 #ffc107, 165px 185px 0 0 #ffc107, 
    170px 185px 0 0 #000000, 80px 190px 0 0 #ffffff, 85px 190px 0 0 #000000, 
    90px 190px 0 0 #ff9800, 95px 190px 0 0 #ffc107, 100px 190px 0 0 #ff9800, 
    105px 190px 0 0 #ff9800, 110px 190px 0 0 #000000, 115px 190px 0 0 #000000, 
    120px 190px 0 0 #000000, 125px 190px 0 0 #000000, 130px 190px 0 0 #000000, 
    135px 190px 0 0 #000000, 140px 190px 0 0 #000000, 145px 190px 0 0 #ff9800, 
    150px 190px 0 0 #ff9800, 155px 190px 0 0 #ffc107, 160px 190px 0 0 #ff9800, 
    165px 190px 0 0 #000000, 170px 190px 0 0 #ffffff, 80px 195px 0 0 #000000, 
    85px 195px 0 0 #ffc107, 90px 195px 0 0 #ffc107, 95px 195px 0 0 #ffc107, 
    100px 195px 0 0 #000000, 105px 195px 0 0 #000000, 110px 195px 0 0 #000000, 
    145px 195px 0 0 #000000, 150px 195px 0 0 #000000, 155px 195px 0 0 #ffc107, 
    160px 195px 0 0 #ffc107, 165px 195px 0 0 #ffc107, 170px 195px 0 0 #000000, 
    80px 200px 0 0 #000000, 85px 200px 0 0 #000000, 90px 200px 0 0 #000000, 
    95px 200px 0 0 #000000, 100px 200px 0 0 #000000, 150px 200px 0 0 #000000, 
    155px 200px 0 0 #000000, 160px 200px 0 0 #000000, 165px 200px 0 0 #000000, 
    170px 200px 0 0 #000000;
  }