#jiMallow {
  width: 120px;
  height: 150px;
  background-color: #ffc6fc;
  background-image: radial-gradient(
    circle at 50% -68px,
    rgba(255, 255, 255, 0.3) 45%,
    transparent 50%
  );
  border-radius: 100px / 40px;
  box-shadow: 6px 5px 1px #eeeeee;
}

#jiMallow:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 50px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 55px 0 0 #000000, 57px 2px 3px 1px #ffffff,
    2px 2px 3px 1px #ffffff, -4px 24px 19px -3px #e83f8e,
    60px 24px 19px -3px #e83f8e, 28px 14px 0 11px #ffc6fc,
    28px 19px 0 8px #000000, 75px -50px 2px -3px #823faf,
    62px -54px 1px 1px #b3beff, 87px -46px 1px 1px #b3beff,
    87px -46px 0 1px #eeeeee;
}

#jiMarceline {
  width: 150px;
  height: 210px;
  background-color: #dff2f8;
  overflow: hidden;
}

#jiMarceline:before {
  content: "";
  display: inline-block;
  position: relative;
  top: -95px;
  left: -40px;
  width: 130px;
  height: 130px;
  background-color: #09102c;
  border-radius: 100px;
  box-shadow: 135px 20px 0 18px #09102c, 165px 230px 0 10px #09102c,
    -45px 270px 0 18px #09102c, 95px 110px 0 -56px #000000,
    5px 110px 0 -56px #000000, 95px 115px 0 -56px #cccccc,
    5px 115px 0 -56px #cccccc, 50px 113px 0 -37px #dff2f8,
    52px 117px 0 -40px #000000, 85px 220px 0 -62px #8a2c32,
    85px 231px 0 -62px #8a2c32;
}

#jiMarceline:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -25px;
  left: -36px;
  width: 8px;
  height: 7px;
  background-color: transparent;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  transform: skew(27deg) rotate(-175deg);
}

#jiCreeper {
  width: 200px;
  height: 200px;
}

#jiCreeper:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 10px;
  left: 20px;
  width: 10px;
  height: 10px;
  background-color: #5bc354;
  box-shadow: 10px 0 0 #5bc354, 20px 0 0 #017d01, 30px 0 0 #017d01,
    40px 0 0 #017d01, 50px 0 0 #017d01, 60px 0 0 #5bc354, 70px 0 0 #5bc354,
    80px 0 0 #5bc354, 90px 0 0 #5bc354, 100px 0 0 #c2c2c2, 110px 0 0 #c2c2c2,
    120px 0 0 #5bc354, 130px 0 0 #5bc354, 140px 0 0 #5bc354, 150px 0 0 #5bc354,
    0 10px 0 #5bc354, 10px 10px 0 #5bc354, 20px 10px 0 #017d01,
    30px 10px 0 #017d01, 40px 10px 0 #017d01, 50px 10px 0 #017d01,
    60px 10px 0 #5bc354, 70px 10px 0 #5bc354, 80px 10px 0 #5bc354,
    90px 10px 0 #5bc354, 100px 10px 0 #c2c2c2, 110px 10px 0 #c2c2c2,
    120px 10px 0 #5bc354, 130px 10px 0 #5bc354, 140px 10px 0 #5bc354,
    150px 10px 0 #5bc354, 0 20px 0 #5bc354, 10px 20px 0 #5bc354,
    20px 20px 0 #5bc354, 30px 20px 0 #5bc354, 40px 20px 0 #017d01,
    50px 20px 0 #017d01, 60px 20px 0 #5bc354, 70px 20px 0 #5bc354,
    80px 20px 0 #5bc354, 90px 20px 0 #5bc354, 100px 20px 0 #017d01,
    110px 20px 0 #017d01, 120px 20px 0 #5bc354, 130px 20px 0 #5bc354,
    140px 20px 0 #c2c2c2, 150px 20px 0 #c2c2c2, 0 30px 0 #5bc354,
    10px 30px 0 #5bc354, 20px 30px 0 #5bc354, 30px 30px 0 #5bc354,
    40px 30px 0 #017d01, 50px 30px 0 #017d01, 60px 30px 0 #5bc354,
    70px 30px 0 #5bc354, 80px 30px 0 #5bc354, 90px 30px 0 #5bc354,
    100px 30px 0 #017d01, 110px 30px 0 #017d01, 120px 30px 0 #5bc354,
    130px 30px 0 #5bc354, 140px 30px 0 #c2c2c2, 150px 30px 0 #c2c2c2,
    0 40px 0 #017d01, 10px 40px 0 #017d01, 20px 40px 0 #11350f,
    30px 40px 0 #11350f, 40px 40px 0 #11350f, 50px 40px 0 #11350f,
    60px 40px 0 #5bc354, 70px 40px 0 #5bc354, 80px 40px 0 #5bc354,
    90px 40px 0 #5bc354, 100px 40px 0 #11350f, 110px 40px 0 #11350f,
    120px 40px 0 #11350f, 130px 40px 0 #11350f, 140px 40px 0 #c2c2c2,
    150px 40px 0 #c2c2c2, 0 50px 0 #017d01, 10px 50px 0 #017d01,
    20px 50px 0 #11350f, 30px 50px 0 #11350f, 40px 50px 0 #11350f,
    50px 50px 0 #11350f, 60px 50px 0 #5bc354, 70px 50px 0 #5bc354,
    80px 50px 0 #5bc354, 90px 50px 0 #5bc354, 100px 50px 0 #11350f,
    110px 50px 0 #11350f, 120px 50px 0 #11350f, 130px 50px 0 #11350f,
    140px 50px 0 #c2c2c2, 150px 50px 0 #c2c2c2, 0 60px 0 #017d01,
    10px 60px 0 #017d01, 20px 60px 0 #11350f, 30px 60px 0 #11350f,
    40px 60px 0 #010101, 50px 60px 0 #010101, 60px 60px 0 #5bc354,
    70px 60px 0 #5bc354, 80px 60px 0 #017d01, 90px 60px 0 #017d01,
    100px 60px 0 #010101, 110px 60px 0 #010101, 120px 60px 0 #11350f,
    130px 60px 0 #11350f, 140px 60px 0 #c2c2c2, 150px 60px 0 #c2c2c2,
    0 70px 0 #017d01, 10px 70px 0 #017d01, 20px 70px 0 #11350f,
    30px 70px 0 #11350f, 40px 70px 0 #010101, 50px 70px 0 #010101,
    60px 70px 0 #5bc354, 70px 70px 0 #5bc354, 80px 70px 0 #017d01,
    90px 70px 0 #017d01, 100px 70px 0 #010101, 110px 70px 0 #010101,
    120px 70px 0 #11350f, 130px 70px 0 #11350f, 140px 70px 0 #c2c2c2,
    150px 70px 0 #c2c2c2, 0 80px 0 #5bc354, 10px 80px 0 #5bc354,
    20px 80px 0 #017d01, 30px 80px 0 #017d01, 40px 80px 0 #5bc354,
    50px 80px 0 #5bc354, 60px 80px 0 #11350f, 70px 80px 0 #11350f,
    80px 80px 0 #11350f, 90px 80px 0 #11350f, 100px 80px 0 #c2c2c2,
    110px 80px 0 #c2c2c2, 120px 80px 0 #5bc354, 130px 80px 0 #5bc354,
    140px 80px 0 #017d01, 150px 80px 0 #017d01, 0 90px 0 #5bc354,
    10px 90px 0 #5bc354, 20px 90px 0 #017d01, 30px 90px 0 #017d01,
    40px 90px 0 #5bc354, 50px 90px 0 #5bc354, 60px 90px 0 #11350f,
    70px 90px 0 #11350f, 80px 90px 0 #11350f, 90px 90px 0 #11350f,
    100px 90px 0 #c2c2c2, 110px 90px 0 #c2c2c2, 120px 90px 0 #5bc354,
    130px 90px 0 #5bc354, 140px 90px 0 #017d01, 150px 90px 0 #017d01,
    0 100px 0 #5bc354, 10px 100px 0 #5bc354, 20px 100px 0 #5bc354,
    30px 100px 0 #5bc354, 40px 100px 0 #11350f, 50px 100px 0 #11350f,
    60px 100px 0 #010101, 70px 100px 0 #010101, 80px 100px 0 #010101,
    90px 100px 0 #010101, 100px 100px 0 #11350f, 110px 100px 0 #11350f,
    120px 100px 0 #017d01, 130px 100px 0 #017d01, 140px 100px 0 #c2c2c2,
    150px 100px 0 #c2c2c2, 0 110px 0 #5bc354, 10px 110px 0 #5bc354,
    20px 110px 0 #5bc354, 30px 110px 0 #5bc354, 40px 110px 0 #11350f,
    50px 110px 0 #11350f, 60px 110px 0 #010101, 70px 110px 0 #010101,
    80px 110px 0 #010101, 90px 110px 0 #010101, 100px 110px 0 #11350f,
    110px 110px 0 #11350f, 120px 110px 0 #017d01, 130px 110px 0 #017d01,
    140px 110px 0 #c2c2c2, 150px 110px 0 #c2c2c2, 0 120px 0 #5bc354,
    10px 120px 0 #5bc354, 20px 120px 0 #5bc354, 30px 120px 0 #5bc354,
    40px 120px 0 #010101, 50px 120px 0 #010101, 60px 120px 0 #010101,
    70px 120px 0 #010101, 80px 120px 0 #010101, 90px 120px 0 #010101,
    100px 120px 0 #010101, 110px 120px 0 #010101, 120px 120px 0 #5bc354,
    130px 120px 0 #5bc354, 140px 120px 0 #5bc354, 150px 120px 0 #5bc354,
    0 130px 0 #5bc354, 10px 130px 0 #5bc354, 20px 130px 0 #5bc354,
    30px 130px 0 #5bc354, 40px 130px 0 #010101, 50px 130px 0 #010101,
    60px 130px 0 #010101, 70px 130px 0 #010101, 80px 130px 0 #010101,
    90px 130px 0 #010101, 100px 130px 0 #010101, 110px 130px 0 #010101,
    120px 130px 0 #5bc354, 130px 130px 0 #5bc354, 140px 130px 0 #5bc354,
    150px 130px 0 #5bc354, 0 140px 0 #017d01, 10px 140px 0 #017d01,
    20px 140px 0 #5bc354, 30px 140px 0 #5bc354, 40px 140px 0 #11350f,
    50px 140px 0 #11350f, 60px 140px 0 #5bc354, 70px 140px 0 #5bc354,
    80px 140px 0 #c2c2c2, 90px 140px 0 #c2c2c2, 100px 140px 0 #017d01,
    110px 140px 0 #017d01, 120px 140px 0 #5bc354, 130px 140px 0 #5bc354,
    140px 140px 0 #5bc354, 150px 140px 0 #5bc354, 0 150px 0 #017d01,
    10px 150px 0 #017d01, 20px 150px 0 #5bc354, 30px 150px 0 #5bc354,
    40px 150px 0 #11350f, 50px 150px 0 #11350f, 60px 150px 0 #5bc354,
    70px 150px 0 #5bc354, 80px 150px 0 #c2c2c2, 90px 150px 0 #c2c2c2,
    100px 150px 0 #017d01, 110px 150px 0 #017d01, 120px 150px 0 #5bc354,
    130px 150px 0 #5bc354, 140px 150px 0 #5bc354, 150px 150px 0 #5bc354;
}

#jiCreeper:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #dadada;
  box-shadow: -10px -10px 0 #c4c4c4, 10px 0 0 #dadada, 20px 0 0 #ffffff,
    20px 0 0 #ffffff, 30px -20px 0 #c4c4c4, 40px 0 0 #c4c4c4, 50px 0 0 #c4c4c4,
    60px 0 0 #ffffff, 70px 0 0 #dadada, 80px 0 0 #dadada, 80px -20px 0 #323232,
    90px 0 0 #dadada, 90px -10px 0 #dadada, 100px 0 0 #ffffff, 110px 0 0 #eaeaea,
    120px 0 0 #dadada, 130px 0 0 #dadada, 140px 0 0 #ffffff, 150px 0 0 #ffffff,
    160px 0 0 #dadada, -20px 10px 0 #dadada, 0 10px 0 #dadada,
    10px 10px 0 #ffffff, 20px 10px 0 #c4c4c4, 30px 10px 0 #ffffff,
    40px 10px 0 #c4c4c4, 50px 10px 0 #c4c4c4, 60px 10px 0 #dadada,
    70px 10px 0 #dadada, 80px 10px 0 #ffffff, 90px 10px 0 #dadada,
    100px 10px 0 #eaeaea, 110px 10px 0 #eaeaea, 120px 10px 0 #ffffff,
    130px 10px 0 #ffffff, 140px 10px 0 #dadada, 150px 10px 0 #dadada,
    160px 10px 0 #ffffff, 0 20px 0 #dadada, 10px 20px 0 #dadada,
    20px 20px 0 #dadada, 30px 20px 0 #dadada, 40px 20px 0 #ffffff,
    50px 20px 0 #c4c4c4, 60px 20px 0 #dadada, 70px 20px 0 #ffffff,
    80px 20px 0 #dadada, 90px 20px 0 #dadada, 100px 20px 0 #ffffff,
    110px 20px 0 #c4c4c4, 120px 20px 0 #ffffff, 130px 20px 0 #dadada,
    140px 20px 0 #ffffff, 150px 20px 0 #ffffff, 160px 20px 0 #eaeaea,
    -20px 30px 0 #6e6e6e, 0 30px 0 #dadada, 10px 30px 0 #ffffff,
    20px 30px 0 #dadada, 30px 30px 0 #dadada, 40px 30px 0 #ffffff,
    50px 30px 0 #c4c4c4, 60px 30px 0 #dadada, 70px 30px 0 #dadada,
    80px 30px 0 #dadada, 90px 30px 0 #ffffff, 100px 30px 0 #c4c4c4,
    110px 30px 0 #c4c4c4, 120px 30px 0 #ffffff, 130px 30px 0 #dadada,
    140px 30px 0 #ffffff, 150px 30px 0 #eaeaea, 160px 30px 0 #ffffff,
    0 40px 0 #c4c4c4, 10px 40px 0 #ffffff, 20px 40px 0 #6e6e6e,
    30px 40px 0 #6e6e6e, 40px 40px 0 #ffffff, 50px 40px 0 #6e6e6e,
    60px 40px 0 #ffffff, 70px 40px 0 #dadada, 80px 40px 0 #ffffff,
    90px 40px 0 #dadada, 100px 40px 0 #ffffff, 110px 40px 0 #6e6e6e,
    120px 40px 0 #6e6e6e, 130px 40px 0 #ffffff, 140px 40px 0 #eaeaea,
    150px 40px 0 #ffffff, 160px 40px 0 #eaeaea, 0 50px 0 #c4c4c4,
    10px 50px 0 #c4c4c4, 20px 50px 0 #ffffff, 30px 50px 0 #6e6e6e,
    40px 50px 0 #ffffff, 50px 50px 0 #ffffff, 60px 50px 0 #dadada,
    70px 50px 0 #dadada, 80px 50px 0 #ffffff, 90px 50px 0 #dadada,
    100px 50px 0 #6e6e6e, 110px 50px 0 #6e6e6e, 120px 50px 0 #6e6e6e,
    130px 50px 0 #ffffff, 140px 50px 0 #ffffff, 150px 50px 0 #eaeaea,
    160px 50px 0 #eaeaea, 0 60px 0 #c4c4c4, 10px 60px 0 #c4c4c4,
    20px 60px 0 #6e6e6e, 30px 60px 0 #6e6e6e, 40px 60px 0 #ffffff,
    50px 60px 0 #323232, 60px 60px 0 #dadada, 70px 60px 0 #ffffff,
    80px 60px 0 #c4c4c4, 90px 60px 0 #c4c4c4, 100px 60px 0 #323232,
    110px 60px 0 #323232, 120px 60px 0 #ffffff, 130px 60px 0 #6e6e6e,
    140px 60px 0 #ffffff, 150px 60px 0 #ffffff, 160px 60px 0 #323232,
    0 70px 0 #c4c4c4, 10px 70px 0 #c4c4c4, 20px 70px 0 #ffffff,
    30px 70px 0 #ffffff, 40px 70px 0 #323232, 50px 70px 0 #323232,
    60px 70px 0 #dadada, 70px 70px 0 #ffffff, 80px 70px 0 #c4c4c4,
    90px 70px 0 #c4c4c4, 100px 70px 0 #323232, 110px 70px 0 #ffffff,
    120px 70px 0 #6e6e6e, 130px 70px 0 #6e6e6e, 140px 70px 0 #ffffff,
    150px 70px 0 #eaeaea, 160px 70px 0 #eaeaea, 0 80px 0 #ffffff,
    10px 80px 0 #dadada, 20px 80px 0 #c4c4c4, 30px 80px 0 #ffffff,
    40px 80px 0 #dadada, 50px 80px 0 #dadada, 60px 80px 0 #ffffff,
    70px 80px 0 #ffffff, 80px 80px 0 #6e6e6e, 90px 80px 0 #6e6e6e,
    100px 80px 0 #eaeaea, 110px 80px 0 #eaeaea, 120px 80px 0 #dadada,
    130px 80px 0 #dadada, 140px 80px 0 #c4c4c4, 150px 80px 0 #ffffff,
    160px 80px 0 #ffffff, 0 90px 0 #dadada, 10px 90px 0 #ffffff,
    20px 90px 0 #c4c4c4, 30px 90px 0 #c4c4c4, 40px 90px 0 #ffffff,
    50px 90px 0 #dadada, 60px 90px 0 #6e6e6e, 70px 90px 0 #ffffff,
    80px 90px 0 #6e6e6e, 90px 90px 0 #6e6e6e, 100px 90px 0 #eaeaea,
    110px 90px 0 #ffffff, 120px 90px 0 #dadada, 130px 90px 0 #dadada,
    140px 90px 0 #c4c4c4, 150px 90px 0 #ffffff, 160px 90px 0 #ffffff,
    0 100px 0 #dadada, 10px 100px 0 #dadada, 20px 100px 0 #dadada,
    30px 100px 0 #ffffff, 40px 100px 0 #6e6e6e, 50px 100px 0 #6e6e6e,
    60px 100px 0 #323232, 70px 100px 0 #323232, 80px 100px 0 #323232,
    90px 100px 0 #323232, 100px 100px 0 #ffffff, 110px 100px 0 #6e6e6e,
    120px 100px 0 #c4c4c4, 130px 100px 0 #ffffff, 140px 100px 0 #eaeaea,
    150px 100px 0 #ffffff, 160px 100px 0 #ffffff, 0 110px 0 #dadada,
    10px 110px 0 #dadada, 20px 110px 0 #dadada, 30px 110px 0 #ffffff,
    40px 110px 0 #6e6e6e, 50px 110px 0 #6e6e6e, 60px 110px 0 #ffffff,
    70px 110px 0 #323232, 80px 110px 0 #ffffff, 90px 110px 0 #ffffff,
    100px 110px 0 #6e6e6e, 110px 110px 0 #6e6e6e, 120px 110px 0 #c4c4c4,
    130px 110px 0 #ffffff, 140px 110px 0 #eaeaea, 150px 110px 0 #ffffff,
    160px 110px 0 #eaeaea, 0 120px 0 #dadada, 10px 120px 0 #ffffff,
    20px 120px 0 #dadada, 30px 120px 0 #dadada, 40px 120px 0 #323232,
    50px 120px 0 #ffffff, 60px 120px 0 #323232, 70px 120px 0 #323232,
    80px 120px 0 #ffffff, 90px 120px 0 #323232, 100px 120px 0 #323232,
    110px 120px 0 #323232, 120px 120px 0 #ffffff, 130px 120px 0 #dadada,
    140px 120px 0 #ffffff, 150px 120px 0 #dadada, 160px 120px 0 #dadada,
    180px 150px 0 #c4c4c4, 0 130px 0 #ffffff, 10px 130px 0 #dadada,
    20px 130px 0 #ffffff, 30px 130px 0 #ffffff, 40px 130px 0 #323232,
    50px 130px 0 #323232, 60px 130px 0 #ffffff, 70px 130px 0 #323232,
    80px 130px 0 #323232, 90px 130px 0 #ffffff, 100px 130px 0 #323232,
    110px 130px 0 #323232, 120px 130px 0 #dadada, 130px 130px 0 #dadada,
    140px 130px 0 #ffffff, 150px 130px 0 #dadada, 160px 130px 0 #dadada,
    0 140px 0 #c4c4c4, 10px 140px 0 #c4c4c4, 20px 140px 0 #dadada,
    30px 140px 0 #dadada, 40px 140px 0 #ffffff, 50px 140px 0 #6e6e6e,
    60px 140px 0 #ffffff, 70px 140px 0 #dadada, 80px 140px 0 #ffffff,
    90px 140px 0 #eaeaea, 100px 140px 0 #c4c4c4, 110px 140px 0 #ffffff,
    120px 140px 0 #dadada, 130px 140px 0 #dadada, 140px 140px 0 #ffffff,
    150px 140px 0 #dadada, 160px 140px 0 #ffffff, 0 150px 0 #ffffff,
    10px 150px 0 #c4c4c4, 20px 150px 0 #ffffff, 30px 150px 0 #dadada,
    40px 150px 0 #6e6e6e, 50px 150px 0 #6e6e6e, 60px 150px 0 #ffffff,
    70px 150px 0 #dadada, 80px 150px 0 #eaeaea, 90px 150px 0 #eaeaea,
    100px 150px 0 #ffffff, 110px 150px 0 #ffffff, 120px 150px 0 #dadada,
    130px 150px 0 #ffffff, 140px 150px 0 #dadada, 150px 150px 0 #ffffff,
    160px 150px 0 #dadada, 180px 150px 0 #c4c4c4, 0 160px 0 #c4c4c4,
    10px 160px 0 #c4c4c4, 10px 170px 0 #dadada, 10px 190px 0 #dadada,
    20px 160px 0 #dadada, 20px 170px 0 #6e6e6e, 20px 180px 0 #6e6e6e,
    30px 160px 0 #dadada, 30px 190px 0 #323232, 40px 160px 0 #c4c4c4,
    40px 170px 0 #c4c4c4, 40px 200px 0 #c4c4c4, 50px 160px 0 #6e6e6e,
    50px 190px 0 #6e6e6e, 60px 160px 0 #ffffff, 60px 170px 0 #c4c4c4,
    70px 160px 0 #dadada, 70px 180px 0 #c4c4c4, 70px 200px 0 #c4c4c4,
    80px 160px 0 #ffffff, 90px 160px 0 #eaeaea, 90px 190px 0 #323232,
    100px 160px 0 #dadada, 110px 160px 0 #ffffff, 110px 170px 0 #c4c4c4,
    120px 160px 0 #dadada, 120px 160px 0 #dadada, 120px 190px 0 #323232,
    120px 190px 0 #dadada, 130px 160px 0 #dadada, 130px 170px 0 #6e6e6e,
    1300px 180px 0 #6e6e6e, 140px 160px 0 #dadada, 140px 190px 0 #323232,
    140px 160px 0 #eaeaea, 150px 160px 0 #dadada, 160px 160px 0 #ffffff,
    165px 170px 0 #c4c4c4, 180px 180px 0 #323232;
  animation: explode 1000ms ease infinite;
}

@keyframes explode {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
