#matthewesp {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 2rem;
    background-image: linear-gradient(155deg, white 1%, gold 25%, orange);
    border-radius: 50%;
    border: 4px solid #242424;
    position: relative;
  }
  
  #matthewesp:before {
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #242424;
    box-shadow: 50px 0px 0 #242424;
    border-radius: inherit;
    left: 40px;
    bottom: 80px;
    z-index: 1;
  }
  
  #matthewesp:after {
    content: " ";
    width: 20px;
    height: 20px;
    background-color: pink;
    border-radius: inherit;
    border: solid 2px black;
    position: absolute;
    left: 70px;
    bottom: 30px;
    z-index: 1;
  }