#michieriffic-coke {
  position: relative;
  box-shadow: 50px 15px 0 0 #8e8c8d, 55px 15px 0 0 #8e8c8d,
    60px 15px 0 0 #8e8c8d, 65px 15px 0 0 #d7cfd4, 70px 15px 0 0 #d7cfd4,
    75px 15px 0 0 #d7cfd4, 80px 15px 0 0 #d7cfd4, 85px 15px 0 0 #d7cfd4,
    90px 15px 0 0 #d7cfd4, 95px 15px 0 0 #8e8c8d, 100px 15px 0 0 #8e8c8d,
    105px 15px 0 0 #706e6f, 110px 15px 0 0 #706e6f, 115px 15px 0 0 #706e6f,
    120px 15px 0 0 #706e6f, 125px 15px 0 0 #8e8c8d, 130px 15px 0 0 #8e8c8d,
    50px 20px 0 0 #8e8c8d, 55px 20px 0 0 #8e8c8d, 60px 20px 0 0 #8e8c8d,
    65px 20px 0 0 #8e8c8d, 70px 20px 0 0 #8e8c8d, 75px 20px 0 0 #8e8c8d,
    80px 20px 0 0 #8e8c8d, 85px 20px 0 0 #8e8c8d, 90px 20px 0 0 #8e8c8d,
    95px 20px 0 0 #8e8c8d, 100px 20px 0 0 #706e6f, 105px 20px 0 0 #706e6f,
    110px 20px 0 0 #706e6f, 115px 20px 0 0 #706e6f, 120px 20px 0 0 #706e6f,
    125px 20px 0 0 #706e6f, 130px 20px 0 0 #8e8c8d, 55px 25px 0 0 #b33321,
    60px 25px 0 0 #b33321, 65px 25px 0 0 #b33321, 70px 25px 0 0 #b33321,
    75px 25px 0 0 #b33321, 80px 25px 0 0 #b33321, 85px 25px 0 0 #b33321,
    90px 25px 0 0 #ffffff, 95px 25px 0 0 #b33321, 100px 25px 0 0 #ffffff,
    105px 25px 0 0 #ffffff, 110px 25px 0 0 #706e6f, 115px 25px 0 0 #d7cfd4,
    120px 25px 0 0 #d7cfd4, 125px 25px 0 0 #b33321, 50px 30px 0 0 #b33321,
    55px 30px 0 0 #b33321, 60px 30px 0 0 #b33321, 65px 30px 0 0 #b33321,
    70px 30px 0 0 #b33321, 75px 30px 0 0 #b33321, 80px 30px 0 0 #b33321,
    85px 30px 0 0 #ffffff, 90px 30px 0 0 #ffffff, 95px 30px 0 0 #ffffff,
    100px 30px 0 0 #b33321, 105px 30px 0 0 #ffffff, 110px 30px 0 0 #706e6f,
    115px 30px 0 0 #d7cfd4, 120px 30px 0 0 #d7cfd4, 125px 30px 0 0 #b33321,
    130px 30px 0 0 #b33321, 50px 35px 0 0 #b33321, 55px 35px 0 0 #b33321,
    60px 35px 0 0 #b33321, 65px 35px 0 0 #b33321, 70px 35px 0 0 #b33321,
    75px 35px 0 0 #b33321, 80px 35px 0 0 #ffffff, 85px 35px 0 0 #ffffff,
    90px 35px 0 0 #b33321, 95px 35px 0 0 #ffffff, 100px 35px 0 0 #b33321,
    105px 35px 0 0 #ffffff, 110px 35px 0 0 #706e6f, 115px 35px 0 0 #d7cfd4,
    120px 35px 0 0 #d7cfd4, 125px 35px 0 0 #b33321, 130px 35px 0 0 #b33321,
    50px 40px 0 0 #b33321, 55px 40px 0 0 #b33321, 60px 40px 0 0 #b33321,
    65px 40px 0 0 #b33321, 70px 40px 0 0 #b33321, 75px 40px 0 0 #b33321,
    80px 40px 0 0 #ffffff, 85px 40px 0 0 #ffffff, 90px 40px 0 0 #b33321,
    95px 40px 0 0 #ffffff, 100px 40px 0 0 #b33321, 105px 40px 0 0 #ffffff,
    110px 40px 0 0 #706e6f, 115px 40px 0 0 #d7cfd4, 120px 40px 0 0 #d7cfd4,
    125px 40px 0 0 #b33321, 130px 40px 0 0 #b33321, 50px 45px 0 0 #b33321,
    55px 45px 0 0 #b33321, 60px 45px 0 0 #b33321, 65px 45px 0 0 #b33321,
    70px 45px 0 0 #b33321, 75px 45px 0 0 #b33321, 80px 45px 0 0 #b33321,
    85px 45px 0 0 #ffffff, 90px 45px 0 0 #ffffff, 95px 45px 0 0 #ffffff,
    100px 45px 0 0 #ffffff, 105px 45px 0 0 #ffffff, 110px 45px 0 0 #706e6f,
    115px 45px 0 0 #706e6f, 120px 45px 0 0 #d7cfd4, 125px 45px 0 0 #b33321,
    130px 45px 0 0 #b33321, 50px 50px 0 0 #b33321, 55px 50px 0 0 #b33321,
    60px 50px 0 0 #b33321, 65px 50px 0 0 #b33321, 70px 50px 0 0 #b33321,
    75px 50px 0 0 #ffffff, 80px 50px 0 0 #ffffff, 85px 50px 0 0 #b33321,
    90px 50px 0 0 #b33321, 95px 50px 0 0 #b33321, 100px 50px 0 0 #b33321,
    105px 50px 0 0 #b33321, 110px 50px 0 0 #ffffff, 115px 50px 0 0 #706e6f,
    120px 50px 0 0 #d7cfd4, 125px 50px 0 0 #b33321, 130px 50px 0 0 #b33321,
    50px 55px 0 0 #b33321, 55px 55px 0 0 #b33321, 60px 55px 0 0 #b33321,
    65px 55px 0 0 #b33321, 70px 55px 0 0 #b33321, 75px 55px 0 0 #ffffff,
    80px 55px 0 0 #ffffff, 85px 55px 0 0 #ffffff, 90px 55px 0 0 #b33321,
    95px 55px 0 0 #b33321, 100px 55px 0 0 #ffffff, 105px 55px 0 0 #ffffff,
    110px 55px 0 0 #ffffff, 115px 55px 0 0 #706e6f, 120px 55px 0 0 #d7cfd4,
    125px 55px 0 0 #d7cfd4, 130px 55px 0 0 #b33321, 50px 60px 0 0 #b33321,
    55px 60px 0 0 #b33321, 60px 60px 0 0 #b33321, 65px 60px 0 0 #b33321,
    70px 60px 0 0 #b33321, 75px 60px 0 0 #b33321, 80px 60px 0 0 #ffffff,
    85px 60px 0 0 #ffffff, 90px 60px 0 0 #ffffff, 95px 60px 0 0 #ffffff,
    100px 60px 0 0 #ffffff, 105px 60px 0 0 #b33321, 110px 60px 0 0 #b33321,
    115px 60px 0 0 #706e6f, 120px 60px 0 0 #706e6f, 125px 60px 0 0 #d7cfd4,
    130px 60px 0 0 #b33321, 50px 65px 0 0 #b33321, 55px 65px 0 0 #b33321,
    60px 65px 0 0 #b33321, 65px 65px 0 0 #b33321, 70px 65px 0 0 #b33321,
    75px 65px 0 0 #b33321, 80px 65px 0 0 #b33321, 85px 65px 0 0 #b33321,
    90px 65px 0 0 #b33321, 95px 65px 0 0 #ffffff, 100px 65px 0 0 #b33321,
    105px 65px 0 0 #b33321, 110px 65px 0 0 #b33321, 115px 65px 0 0 #b33321,
    120px 65px 0 0 #706e6f, 125px 65px 0 0 #d7cfd4, 130px 65px 0 0 #b33321,
    50px 70px 0 0 #b33321, 55px 70px 0 0 #b33321, 60px 70px 0 0 #b33321,
    65px 70px 0 0 #b33321, 70px 70px 0 0 #ffffff, 75px 70px 0 0 #ffffff,
    80px 70px 0 0 #ffffff, 85px 70px 0 0 #ffffff, 90px 70px 0 0 #ffffff,
    95px 70px 0 0 #ffffff, 100px 70px 0 0 #ffffff, 105px 70px 0 0 #ffffff,
    110px 70px 0 0 #ffffff, 115px 70px 0 0 #b33321, 120px 70px 0 0 #706e6f,
    125px 70px 0 0 #d7cfd4, 130px 70px 0 0 #b33321, 50px 75px 0 0 #b33321,
    55px 75px 0 0 #b33321, 60px 75px 0 0 #b33321, 65px 75px 0 0 #b33321,
    70px 75px 0 0 #ffffff, 75px 75px 0 0 #ffffff, 80px 75px 0 0 #ffffff,
    85px 75px 0 0 #ffffff, 90px 75px 0 0 #ffffff, 95px 75px 0 0 #ffffff,
    100px 75px 0 0 #ffffff, 105px 75px 0 0 #ffffff, 110px 75px 0 0 #ffffff,
    115px 75px 0 0 #b33321, 120px 75px 0 0 #706e6f, 125px 75px 0 0 #d7cfd4,
    130px 75px 0 0 #b33321, 50px 80px 0 0 #706e6f, 55px 80px 0 0 #b33321,
    60px 80px 0 0 #b33321, 65px 80px 0 0 #b33321, 70px 80px 0 0 #ffffff,
    75px 80px 0 0 #b33321, 80px 80px 0 0 #b33321, 85px 80px 0 0 #b33321,
    90px 80px 0 0 #b33321, 95px 80px 0 0 #b33321, 100px 80px 0 0 #b33321,
    105px 80px 0 0 #b33321, 110px 80px 0 0 #ffffff, 115px 80px 0 0 #b33321,
    120px 80px 0 0 #706e6f, 125px 80px 0 0 #d7cfd4, 130px 80px 0 0 #b33321,
    50px 85px 0 0 #706e6f, 55px 85px 0 0 #b33321, 60px 85px 0 0 #b33321,
    65px 85px 0 0 #b33321, 70px 85px 0 0 #b33321, 75px 85px 0 0 #b33321,
    80px 85px 0 0 #b33321, 85px 85px 0 0 #b33321, 90px 85px 0 0 #ffffff,
    95px 85px 0 0 #ffffff, 100px 85px 0 0 #ffffff, 105px 85px 0 0 #b33321,
    110px 85px 0 0 #b33321, 115px 85px 0 0 #b33321, 120px 85px 0 0 #706e6f,
    125px 85px 0 0 #d7cfd4, 130px 85px 0 0 #d7cfd4, 50px 90px 0 0 #706e6f,
    55px 90px 0 0 #706e6f, 60px 90px 0 0 #b33321, 65px 90px 0 0 #b33321,
    70px 90px 0 0 #b33321, 75px 90px 0 0 #b33321, 80px 90px 0 0 #b33321,
    85px 90px 0 0 #ffffff, 90px 90px 0 0 #ffffff, 95px 90px 0 0 #ffffff,
    100px 90px 0 0 #ffffff, 105px 90px 0 0 #ffffff, 110px 90px 0 0 #b33321,
    115px 90px 0 0 #b33321, 120px 90px 0 0 #b33321, 125px 90px 0 0 #706e6f,
    130px 90px 0 0 #d7cfd4, 50px 95px 0 0 #d7cfd4, 55px 95px 0 0 #706e6f,
    60px 95px 0 0 #b33321, 65px 95px 0 0 #b33321, 70px 95px 0 0 #b33321,
    75px 95px 0 0 #b33321, 80px 95px 0 0 #ffffff, 85px 95px 0 0 #ffffff,
    90px 95px 0 0 #b33321, 95px 95px 0 0 #b33321, 100px 95px 0 0 #b33321,
    105px 95px 0 0 #b33321, 110px 95px 0 0 #ffffff, 115px 95px 0 0 #b33321,
    120px 95px 0 0 #b33321, 125px 95px 0 0 #706e6f, 130px 95px 0 0 #d7cfd4,
    50px 100px 0 0 #d7cfd4, 55px 100px 0 0 #706e6f, 60px 100px 0 0 #706e6f,
    65px 100px 0 0 #b33321, 70px 100px 0 0 #b33321, 75px 100px 0 0 #b33321,
    80px 100px 0 0 #ffffff, 85px 100px 0 0 #ffffff, 90px 100px 0 0 #b33321,
    95px 100px 0 0 #b33321, 100px 100px 0 0 #b33321, 105px 100px 0 0 #b33321,
    110px 100px 0 0 #ffffff, 115px 100px 0 0 #b33321, 120px 100px 0 0 #b33321,
    125px 100px 0 0 #706e6f, 130px 100px 0 0 #d7cfd4, 50px 105px 0 0 #d7cfd4,
    55px 105px 0 0 #706e6f, 60px 105px 0 0 #706e6f, 65px 105px 0 0 #b33321,
    70px 105px 0 0 #b33321, 75px 105px 0 0 #b33321, 80px 105px 0 0 #b33321,
    85px 105px 0 0 #ffffff, 90px 105px 0 0 #ffffff, 95px 105px 0 0 #ffffff,
    100px 105px 0 0 #ffffff, 105px 105px 0 0 #ffffff, 110px 105px 0 0 #ffffff,
    115px 105px 0 0 #b33321, 120px 105px 0 0 #b33321, 125px 105px 0 0 #706e6f,
    130px 105px 0 0 #d7cfd4, 50px 110px 0 0 #d7cfd4, 55px 110px 0 0 #d7cfd4,
    60px 110px 0 0 #706e6f, 65px 110px 0 0 #b33321, 70px 110px 0 0 #b33321,
    75px 110px 0 0 #b33321, 80px 110px 0 0 #b33321, 85px 110px 0 0 #b33321,
    90px 110px 0 0 #ffffff, 95px 110px 0 0 #ffffff, 100px 110px 0 0 #ffffff,
    105px 110px 0 0 #ffffff, 110px 110px 0 0 #b33321, 115px 110px 0 0 #b33321,
    120px 110px 0 0 #b33321, 125px 110px 0 0 #706e6f, 130px 110px 0 0 #d7cfd4,
    50px 115px 0 0 #d7cfd4, 55px 115px 0 0 #d7cfd4, 60px 115px 0 0 #706e6f,
    65px 115px 0 0 #b33321, 70px 115px 0 0 #ffffff, 75px 115px 0 0 #ffffff,
    80px 115px 0 0 #ffffff, 85px 115px 0 0 #b33321, 90px 115px 0 0 #b33321,
    95px 115px 0 0 #b33321, 100px 115px 0 0 #ffffff, 105px 115px 0 0 #ffffff,
    110px 115px 0 0 #b33321, 115px 115px 0 0 #b33321, 120px 115px 0 0 #b33321,
    125px 115px 0 0 #706e6f, 130px 115px 0 0 #d7cfd4, 50px 120px 0 0 #d7cfd4,
    55px 120px 0 0 #d7cfd4, 60px 120px 0 0 #706e6f, 65px 120px 0 0 #b33321,
    70px 120px 0 0 #ffffff, 75px 120px 0 0 #ffffff, 80px 120px 0 0 #ffffff,
    85px 120px 0 0 #b33321, 90px 120px 0 0 #b33321, 95px 120px 0 0 #b33321,
    100px 120px 0 0 #ffffff, 105px 120px 0 0 #ffffff, 110px 120px 0 0 #ffffff,
    115px 120px 0 0 #b33321, 120px 120px 0 0 #b33321, 125px 120px 0 0 #706e6f,
    130px 120px 0 0 #d7cfd4, 50px 125px 0 0 #d7cfd4, 55px 125px 0 0 #d7cfd4,
    60px 125px 0 0 #706e6f, 65px 125px 0 0 #b33321, 70px 125px 0 0 #ffffff,
    75px 125px 0 0 #ffffff, 80px 125px 0 0 #b33321, 85px 125px 0 0 #b33321,
    90px 125px 0 0 #b33321, 95px 125px 0 0 #b33321, 100px 125px 0 0 #b33321,
    105px 125px 0 0 #ffffff, 110px 125px 0 0 #ffffff, 115px 125px 0 0 #b33321,
    120px 125px 0 0 #b33321, 125px 125px 0 0 #706e6f, 130px 125px 0 0 #d7cfd4,
    50px 130px 0 0 #d7cfd4, 55px 130px 0 0 #d7cfd4, 60px 130px 0 0 #706e6f,
    65px 130px 0 0 #b33321, 70px 130px 0 0 #ffffff, 75px 130px 0 0 #ffffff,
    80px 130px 0 0 #b33321, 85px 130px 0 0 #b33321, 90px 130px 0 0 #b33321,
    95px 130px 0 0 #b33321, 100px 130px 0 0 #b33321, 105px 130px 0 0 #ffffff,
    110px 130px 0 0 #ffffff, 115px 130px 0 0 #b33321, 120px 130px 0 0 #706e6f,
    125px 130px 0 0 #706e6f, 130px 130px 0 0 #d7cfd4, 50px 135px 0 0 #d7cfd4,
    55px 135px 0 0 #706e6f, 60px 135px 0 0 #706e6f, 65px 135px 0 0 #b33321,
    70px 135px 0 0 #b33321, 75px 135px 0 0 #ffffff, 80px 135px 0 0 #ffffff,
    85px 135px 0 0 #b33321, 90px 135px 0 0 #b33321, 95px 135px 0 0 #b33321,
    100px 135px 0 0 #b33321, 105px 135px 0 0 #ffffff, 110px 135px 0 0 #ffffff,
    115px 135px 0 0 #b33321, 120px 135px 0 0 #706e6f, 125px 135px 0 0 #d7cfd4,
    130px 135px 0 0 #b33321, 50px 140px 0 0 #d7cfd4, 55px 140px 0 0 #706e6f,
    60px 140px 0 0 #706e6f, 65px 140px 0 0 #b33321, 70px 140px 0 0 #b33321,
    75px 140px 0 0 #b33321, 80px 140px 0 0 #ffffff, 85px 140px 0 0 #ffffff,
    90px 140px 0 0 #ffffff, 95px 140px 0 0 #ffffff, 100px 140px 0 0 #ffffff,
    105px 140px 0 0 #ffffff, 110px 140px 0 0 #ffffff, 115px 140px 0 0 #b33321,
    120px 140px 0 0 #706e6f, 125px 140px 0 0 #d7cfd4, 130px 140px 0 0 #b33321,
    50px 145px 0 0 #d7cfd4, 55px 145px 0 0 #706e6f, 60px 145px 0 0 #b33321,
    65px 145px 0 0 #b33321, 70px 145px 0 0 #b33321, 75px 145px 0 0 #b33321,
    80px 145px 0 0 #b33321, 85px 145px 0 0 #ffffff, 90px 145px 0 0 #ffffff,
    95px 145px 0 0 #ffffff, 100px 145px 0 0 #ffffff, 105px 145px 0 0 #ffffff,
    110px 145px 0 0 #b33321, 115px 145px 0 0 #706e6f, 120px 145px 0 0 #d7cfd4,
    125px 145px 0 0 #d7cfd4, 130px 145px 0 0 #b33321, 50px 150px 0 0 #d7cfd4,
    55px 150px 0 0 #706e6f, 60px 150px 0 0 #b33321, 65px 150px 0 0 #b33321,
    70px 150px 0 0 #b33321, 75px 150px 0 0 #b33321, 80px 150px 0 0 #b33321,
    85px 150px 0 0 #b33321, 90px 150px 0 0 #b33321, 95px 150px 0 0 #b33321,
    100px 150px 0 0 #b33321, 105px 150px 0 0 #b33321, 110px 150px 0 0 #b33321,
    115px 150px 0 0 #706e6f, 120px 150px 0 0 #d7cfd4, 125px 150px 0 0 #b33321,
    130px 150px 0 0 #b33321, 50px 155px 0 0 #8e8c8d, 55px 155px 0 0 #706e6f,
    60px 155px 0 0 #b33321, 65px 155px 0 0 #b33321, 70px 155px 0 0 #b33321,
    75px 155px 0 0 #b33321, 80px 155px 0 0 #b33321, 85px 155px 0 0 #b33321,
    90px 155px 0 0 #b33321, 95px 155px 0 0 #b33321, 100px 155px 0 0 #b33321,
    105px 155px 0 0 #b33321, 110px 155px 0 0 #706e6f, 115px 155px 0 0 #706e6f,
    120px 155px 0 0 #d7cfd4, 125px 155px 0 0 #b33321, 130px 155px 0 0 #8e8c8d,
    55px 160px 0 0 #8e8c8d, 60px 160px 0 0 #b33321, 65px 160px 0 0 #b33321,
    70px 160px 0 0 #b33321, 75px 160px 0 0 #b33321, 80px 160px 0 0 #b33321,
    85px 160px 0 0 #b33321, 90px 160px 0 0 #b33321, 95px 160px 0 0 #b33321,
    100px 160px 0 0 #b33321, 105px 160px 0 0 #b33321, 110px 160px 0 0 #706e6f,
    115px 160px 0 0 #d7cfd4, 120px 160px 0 0 #d7cfd4, 125px 160px 0 0 #b33321,
    130px 160px 0 0 #8e8c8d, 60px 165px 0 0 #8e8c8d, 65px 165px 0 0 #8e8c8d,
    70px 165px 0 0 #8e8c8d, 75px 165px 0 0 #8e8c8d, 80px 165px 0 0 #8e8c8d,
    85px 165px 0 0 #8e8c8d, 90px 165px 0 0 #8e8c8d, 95px 165px 0 0 #8e8c8d,
    100px 165px 0 0 #8e8c8d, 105px 165px 0 0 #8e8c8d, 110px 165px 0 0 #706e6f,
    115px 165px 0 0 #706e6f, 120px 165px 0 0 #706e6f, 125px 165px 0 0 #8e8c8d,
    65px 170px 0 0 #8e8c8d, 70px 170px 0 0 #8e8c8d, 75px 170px 0 0 #8e8c8d,
    80px 170px 0 0 #8e8c8d, 85px 170px 0 0 #8e8c8d, 90px 170px 0 0 #8e8c8d,
    95px 170px 0 0 #8e8c8d, 100px 170px 0 0 #8e8c8d, 105px 170px 0 0 #706e6f,
    110px 170px 0 0 #706e6f, 115px 170px 0 0 #706e6f, 120px 170px 0 0 #8e8c8d;
  height: 10px;
  width: 10px;
  top: -50px;
  left: -75px;
}
