#sagar-pardhi {
  width: 200px;
  height: 200px;
  background: gold;
  border-radius: 50%;
  border: 4px solid #242424;
  position: relative;
}

#sagar-pardhi::before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 40px;
  top: 50px;
  left: 50px;
  background: black;
  box-shadow: 70px 0px 0 black;
  border-radius: 50%;
  z-index: 1;
}

#sagar-pardhi::after {
  content: " ";
  width: 40px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 80px;
  background: black;
  border-radius: 50%;
  z-index: 1;
}
