html,
body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#skelrilod {
  display: flex;
  justify-content: center;
  border: 3px solid #ff9900;
  background-image: radial-gradient( #ffff00, #FFC83D);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px grey;
}

#skelrilod::before {
  content: "";
  position: relative;
  border: 10px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
  margin: auto;
  top: 75px;
  box-shadow: 90px 0px 0 black;
  margin-left: 110px;
}

#skelrilod::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-top: 14px solid black;
  border-radius: 50%;
  margin-top: 55px;
}

p {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: "Press Start 2P", Tahoma, sans-serif;
  top: 75%;
  font-size: larger;
}
