@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

html,
body {
  font-family: "Press Start 2P", Tahoma, sans-serif;
  margin: 0;
  line-height: 1.5;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: #25274d;
  text-align: center;
  color: white;
}

.message {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.message-body {
  margin: 1rem;
  padding: 0.25rem 1rem;
  width: 100%;
  background-color: #25274d1f;
  border: 1px solid #4648661f;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-start;
  justify-content: center;
  width: 100%;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22.5%;
  height: 30vh;
  margin: 5px;
  padding: 5px;
  border: 1px solid #007a7c1f;
}

.is-hidden {
  display: none !important;
}

#wwcodemnl {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(white 1%, gold 50%, orange);
  border-radius: 150px;
  border: 2px solid orange;
  position: relative;
}

#wwcodemnl:before {
  content: " ";
  position: absolute;
  width: 37px;
  height: 8px;
  background-color: saddlebrown;
  box-shadow: 50px 0px 0 saddlebrown;
  border-radius: inherit;
  left: 30px;
  bottom: 80px;
  z-index: 1;
}

#wwcodemnl:after {
  content: " ";
  width: 85px;
  height: 8px;
  background-color: saddlebrown;
  border-radius: inherit;
  position: absolute;
  left: 30px;
  bottom: 45px;
  z-index: 1;
}

#matthewesp {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(155deg, white 1%, gold 25%, orange);
  border-radius: 50%;
  border: 4px solid #242424;
  position: relative;
}

#matthewesp:before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #242424;
  box-shadow: 50px 0px 0 #242424;
  border-radius: inherit;
  left: 40px;
  bottom: 80px;
  z-index: 1;
}

#matthewesp:after {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: pink;
  border-radius: inherit;
  border: solid 2px black;
  position: absolute;
  left: 70px;
  bottom: 30px;
  z-index: 1;
}

#sanderjson {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 50%;
  content: '';
  border: 5px solid #373F51;
  background: linear-gradient(181deg, #EAD2AC 1%, #FAF0CA 25%, #FFD700 45%, #FA8072);
  position: relative;
}
#sanderjson:before {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #373F51;
  box-shadow: 50px 0px 0 #373F51;
  content: ' ';
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 40px;
}
#sanderjson::after {
  content: "";
  width: 50%;
  height: 20px;
  background-color: #F8F8FF ;
  border-radius: inherit;
  border: solid 2px LightPink ;
  position: absolute;
  left: 25%;
  bottom: 30px;
  z-index: 1;
}