@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

html,
body {
  font-family: "Press Start 2P", Tahoma, sans-serif;
  margin: 0;
  line-height: 1.5;
}

a {
  color: #318997;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: #25274d;
  text-align: center;
  color: white;
}

.message {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.message-body {
  margin: 1rem;
  padding: 0.25rem 1rem;
  width: 100%;
  background-color: #25274d1f;
  border: 1px solid #4648661f;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22.5%;
  height: 30vh;
  margin: 5px;
  padding: 5px;
  border: 1px solid #007a7c1f;
}

.is-hidden {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .message {
    flex-direction: column;
  }

  .message-body {
    width: auto;
  }

  .container {
    flex-direction: column;
  }

  .container > div {
    width: auto;
  }
}

#kimberrypi {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(white 1%, gold 50%, orange);
  border-radius: 150px;
  border: 2px solid orange;
  position: relative;
}

#kimberrypi:before {
  content: " ";
  position: absolute;
  width: 37px;
  height: 8px;
  background-color: saddlebrown;
  box-shadow: 50px 0px 0 saddlebrown;
  border-radius: inherit;
  left: 30px;
  bottom: 80px;
  z-index: 1;
}

#kimberrypi:after {
  content: " ";
  width: 85px;
  height: 8px;
  background-color: saddlebrown;
  border-radius: inherit;
  position: absolute;
  left: 30px;
  bottom: 45px;
  z-index: 1;
}

#matthewesp {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(155deg, white 1%, gold 25%, orange);
  border-radius: 50%;
  border: 4px solid #242424;
  position: relative;
}

#matthewesp:before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #242424;
  box-shadow: 50px 0px 0 #242424;
  border-radius: inherit;
  left: 40px;
  bottom: 80px;
  z-index: 1;
}

#matthewesp:after {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: pink;
  border-radius: inherit;
  border: solid 2px black;
  position: absolute;
  left: 70px;
  bottom: 30px;
  z-index: 1;
}

#quintanilhaedu {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(
    155deg,
    white 1%,
    rgb(214, 14, 14) 25%,
    rgba(219, 40, 8, 0.945)
  );
  border-radius: 50%;
  border: 4px solid #242424;
  position: relative;
}

#quintanilhaedu:before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  box-shadow: 50px 0px 0 black;
  border-radius: inherit;
  left: 40px;
  bottom: 80px;
  z-index: 1;
}

#quintanilhaedu:after {
  content: " ";
  width: 50px;
  height: 50px;
  border: 10px solid black;
  border-radius: 50%;
  border-top-right-radius: 100px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
  right: 50px;
  top: 100px;
  position: absolute;
}

#virus200 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(155deg, white 1%, gold 25%, orange);
  border-radius: 50%;
  border: 4px solid #242424;
  position: relative;
}

#virus200:before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #242424;
  box-shadow: 50px 0px 0 #242424;
  border-radius: inherit;
  left: 50px;
  bottom: 80px;
  z-index: 01;
}

#virus200:after {
  content: " ";
  width: 60px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 50% 50%;
  border: solid 2px black;
  position: absolute;
  left: 50px;
  bottom: 30px;
  z-index: 1;
}

#botticelli13 {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid yellow;
  border-left: 60px solid yellow;
  border-bottom: 60px solid yellow;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  position: relative;
}

#botticelli13:before {
  content: " ";
  position: absolute;
  left: 10px;
  top: -50px;
  width: 20px;
  height: 20px;
  background-color: #242424;
  border-radius: inherit;
  z-index: 1;
}
#sanderjson {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 50%;
  content: "";
  border: 5px solid #373f51;
  background: linear-gradient(
    181deg,
    #ead2ac 1%,
    #faf0ca 25%,
    #ffd700 45%,
    #fa8072
  );
  position: relative;
}
#sanderjson:before {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #373f51;
  box-shadow: 50px 0px 0 #373f51;
  content: " ";
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 40px;
}
#sanderjson::after {
  content: "";
  width: 50%;
  height: 20px;
  background-color: #f8f8ff;
  border-radius: inherit;
  border: solid 2px LightPink;
  position: absolute;
  left: 25%;
  bottom: 30px;
  z-index: 1;
}

#jmsgbrl__ {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(orange 1%, gold 50%, white);
  border-radius: 50%;
  border: 4px solid gold;
  position: relative;
}

#jmsgbrl__:before {
  content: " ";
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-radius: 50%;
  border-top-right-radius: 100px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
  right: 52px;
  top: 20px;
  position: absolute;
}

#jmsgbrl__:after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  box-shadow: 50px 0px 0 black;
  border-radius: inherit;
  left: 50px;
  bottom: 30px;
  z-index: 1;
}

#vitebo {
  border: 2px solid #333;
  background-image: linear-gradient(155deg, #fff 1%, #fee134 25%, #f39f20);
  border-radius: 50%;
  height: 100px;
  padding: 2rem;
  position: relative;
  width: 100px;
}

#vitebo:before {
  --size: 62px;
  --height: calc(var(--size) - 4px);
  --width: calc(var(--size) + 10px);
  --left-position: calc(50% - var(--width) / 2);

  background-color: transparent;
  border-radius: 10% 10% 50% 50%;
  box-shadow: calc(var(--size) / 1.65) var(--size) 0 0 #333,
    calc(var(--size) / -1.65) var(--size) 0 0 #333, 0 38px 0 -24px #333;
  content: " ";
  height: var(--height);
  left: var(--left-position);
  position: absolute;
  top: -20px;
  width: var(--width);
}

#vitebo:after {
  --width: 55px;
  --left-position: calc(50% - var(--width) / 2);

  background-color: #333;
  border-radius: 4px;
  bottom: 40px;
  content: " ";
  height: 8px;
  left: var(--left-position);
  position: absolute;
  width: var(--width);
}

#noviandsh {
  height: 100px;
  width: 100px;
  background-image: linear-gradient(155deg, white 1%, gold 25%, orange);
  border-radius: 50%;
  padding: 2rem;
  position: relative;
  border: 4px solid #242424;
}

#noviandsh:before {
  content: "";
  height: 30px;
  width: 30px;
  background: black;
  position: absolute;
  border-radius: 50%;
  top: 50px;
  left: 40px;
  box-shadow: 55px 0px 0 black;
}

#noviandsh:after {
  content: "";
  height: 50px;
  width: 50px;
  border-top: 5px solid black;
  position: absolute;
  bottom: 0;
  left: 60px;
  border-radius: 78% 22% 70% 30% / 30% 13% 87% 70%;
}
#neetigyachahar {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(rgb(255, 179, 0), yellow);
  border-radius: 500px;
  border: 2px solid black;
}

#neetigyachahar:after {
  display: inline;
  content: ".";
  position: relative;
  left: -6px;
  top: 23px;
  padding: 10px;
  color: transparent;
  background-color: transparent;
  border-bottom: 6px solid black;
  border-radius: 40px;
  box-shadow: 27px 68px 0px black;
  z-index: -10px;
}

#neetigyachahar:before {
  display: inline;
  content: ".";
  position: relative;
  left: 80px;
  top: 23px;
  padding: 10px;
  color: transparent;
  background-color: transparent;
  border-bottom: 6px solid black;
  border-radius: 40px;
  z-index: 10;
}

#CodeMeNatalie {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  color: #fff;
  padding: 2rem;
  border-radius: 50%;
}

#CodeMeNatalie:after {
  position: absolute;
  content: "ç§˜";
  top: 20px;
  left: 45px;
  font-size: 80px;
  font-family: "Lato", serif;
  text-shadow: 1px 1px #222;
}

#movingtothesun {
  font-size: .625em;
  width: 10em;
  height: 10em;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  color: #eb8f00;
  border: .6em solid currentColor;
  border-radius: 50%;
  background-image: linear-gradient(#fee133 0%, #fee133 60%, #f6a323 100%);
}

#movingtothesun::before {
  content: '';
  position: absolute;
  background: #000;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  left: 3.3em;
  top: 6em;
  box-shadow:
    #000 7.6em 0,
    #fff 0 0 0 1.5em,
    #fff 7.6em 0 0 1.5em,
    currentColor 0 0 0 2.1em,
    currentColor 7.6em 0 0 2.1em,
    #f18e5f -1em 2em 2em 1.5em,
    #f18e5f 8.6em 2em 2em 1.5em;
}

#movingtothesun::after {
  content: '';
  position: absolute;
  background: #000;
  border-radius: 3em;
  width: 3em;
  height: 1.2em;
  left: 50%;
  top: 12em;
  margin-left: -1.5em;
  box-shadow:
    -3.8em -10em 0 -.1em,
    3.8em -10em 0 -.1em;
}
